<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppOrderArchiveMapper">
<resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppOrderArchive">
  <id column="file_id" jdbcType="INTEGER" property="fileId" />
  <result column="bid" jdbcType="VARCHAR" property="bid" />
  <result column="file_time" jdbcType="TIMESTAMP" property="fileTime" />
  <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  <result column="dflag" jdbcType="INTEGER" property="dflag" />
  <result column="bname" jdbcType="VARCHAR" property="bname" />
  <result column="airportname" jdbcType="VARCHAR" property="airportname" />
  <result column="airport_id" jdbcType="VARCHAR" property="airportId" />
  <result column="year" jdbcType="CHAR" property="year" />
  <result column="month" jdbcType="CHAR" property="month" />
  <result column="day" jdbcType="CHAR" property="day" />
  <result column="province" jdbcType="VARCHAR" property="province" />
  <result column="dayweek" jdbcType="CHAR" property="dayweek" />
</resultMap>

<!--图表数据  -->
<resultMap type="CharData" id="charDataMap">
	<result column="order_num" property="total"/>
	<result column="order_num_back" property="back_order_total"/>
	<result column="file_time" property="date"/>
</resultMap>
<sql id="Base_Column_List">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
file_id, bid, file_time, order_num, dflag, bname, airportname, airport_id, year, month,
day, province, dayweek
</sql>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
select
<include refid="Base_Column_List" />
from app_order_archive
where file_id = #{fileId,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
delete from app_order_archive
where file_id = #{fileId,jdbcType=INTEGER}
</delete>
<insert id="insert" parameterType="com.jianfei.core.bean.AppOrderArchive">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
insert into app_order_archive (file_id, bid, file_time,
order_num, dflag, bname,
airportname, airport_id, year,
month, day, province, dayweek
)
values (#{fileId,jdbcType=INTEGER}, #{bid,jdbcType=VARCHAR}, #{fileTime,jdbcType=TIMESTAMP},
#{orderNum,jdbcType=INTEGER}, #{dflag,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR},
#{airportname,jdbcType=VARCHAR}, #{airportId,jdbcType=VARCHAR}, #{year,jdbcType=CHAR},
#{month,jdbcType=CHAR}, #{day,jdbcType=CHAR}, #{province,jdbcType=VARCHAR}, #{dayweek,jdbcType=CHAR}
)
</insert>
<insert id="insertSelective" parameterType="com.jianfei.core.bean.AppOrderArchive">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
insert into app_order_archive
<trim prefix="(" suffix=")" suffixOverrides=",">
  <if test="fileId != null">
    file_id,
  </if>
  <if test="bid != null">
    bid,
  </if>
  <if test="fileTime != null">
    file_time,
  </if>
  <if test="orderNum != null">
    order_num,
  </if>
  <if test="dflag != null">
    dflag,
  </if>
  <if test="bname != null">
    bname,
  </if>
  <if test="airportname != null">
    airportname,
  </if>
  <if test="airportId != null">
    airport_id,
  </if>
  <if test="year != null">
    year,
  </if>
  <if test="month != null">
    month,
  </if>
  <if test="day != null">
    day,
  </if>
  <if test="province != null">
    province,
  </if>
  <if test="dayweek != null">
    dayweek,
  </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
  <if test="fileId != null">
    #{fileId,jdbcType=INTEGER},
  </if>
  <if test="bid != null">
    #{bid,jdbcType=VARCHAR},
  </if>
  <if test="fileTime != null">
    #{fileTime,jdbcType=TIMESTAMP},
  </if>
  <if test="orderNum != null">
    #{orderNum,jdbcType=INTEGER},
  </if>
  <if test="dflag != null">
    #{dflag,jdbcType=INTEGER},
  </if>
  <if test="bname != null">
    #{bname,jdbcType=VARCHAR},
  </if>
  <if test="airportname != null">
    #{airportname,jdbcType=VARCHAR},
  </if>
  <if test="airportId != null">
    #{airportId,jdbcType=VARCHAR},
  </if>
  <if test="year != null">
    #{year,jdbcType=CHAR},
  </if>
  <if test="month != null">
    #{month,jdbcType=CHAR},
  </if>
  <if test="day != null">
    #{day,jdbcType=CHAR},
  </if>
  <if test="province != null">
    #{province,jdbcType=VARCHAR},
  </if>
  <if test="dayweek != null">
    #{dayweek,jdbcType=CHAR},
  </if>
</trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppOrderArchive">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
update app_order_archive
<set>
  <if test="bid != null">
    bid = #{bid,jdbcType=VARCHAR},
  </if>
  <if test="fileTime != null">
    file_time = #{fileTime,jdbcType=TIMESTAMP},
  </if>
  <if test="orderNum != null">
    order_num = #{orderNum,jdbcType=INTEGER},
  </if>
  <if test="dflag != null">
    dflag = #{dflag,jdbcType=INTEGER},
  </if>
  <if test="bname != null">
    bname = #{bname,jdbcType=VARCHAR},
  </if>
  <if test="airportname != null">
    airportname = #{airportname,jdbcType=VARCHAR},
  </if>
  <if test="airportId != null">
    airport_id = #{airportId,jdbcType=VARCHAR},
  </if>
  <if test="year != null">
    year = #{year,jdbcType=CHAR},
  </if>
  <if test="month != null">
    month = #{month,jdbcType=CHAR},
  </if>
  <if test="day != null">
    day = #{day,jdbcType=CHAR},
  </if>
  <if test="province != null">
    province = #{province,jdbcType=VARCHAR},
  </if>
  <if test="dayweek != null">
    dayweek = #{dayweek,jdbcType=CHAR},
  </if>
</set>
where file_id = #{fileId,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppOrderArchive">
<!--
  WARNING - @mbggenerated
  This element is automatically generated by MyBatis Generator, do not modify.
  This element was generated on Mon Jun 06 00:48:06 CST 2016.
-->
update app_order_archive
set bid = #{bid,jdbcType=VARCHAR},
file_time = #{fileTime,jdbcType=TIMESTAMP},
order_num = #{orderNum,jdbcType=INTEGER},
dflag = #{dflag,jdbcType=INTEGER},
bname = #{bname,jdbcType=VARCHAR},
airportname = #{airportname,jdbcType=VARCHAR},
airport_id = #{airportId,jdbcType=VARCHAR},
year = #{year,jdbcType=CHAR},
month = #{month,jdbcType=CHAR},
day = #{day,jdbcType=CHAR},
province = #{province,jdbcType=VARCHAR},
dayweek = #{dayweek,jdbcType=CHAR}
where file_id = #{fileId,jdbcType=INTEGER}
</update>


  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri May 20 13:59:51 CST 2016.
    -->
    select
    <include refid="Base_Column_List" />
    from app_order_archive
    where bid = #{userId,jdbcType=VARCHAR} ORDER BY `year`,`month`,`day`
  </select>

  <!--图表数据  -->
  <resultMap type="com.jianfei.core.dto.GraphDto" id="GraphResultMap">
    <result column="name" property="name"/>
    <result column="name" property="name"/>
  </resultMap>

  <select id="selectByUserUno" resultMap="GraphResultMap" parameterType="java.lang.String" >

   SELECT count(order_num) as 'value' ,concat(year,month,day) as 'name'FROM app_order_archive join sys_users u on bid=u.id
   WHERE u.code=#{uno,jdbcType=VARCHAR} group by concat(year,month,day)
  </select>
  <resultMap id="OrderResultMap" type="com.jianfei.core.dto.OrderAppDetailInfo">
    <id column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="invoice_flag" jdbcType="INTEGER" property="invoiceFlag" />
  </resultMap>

  <select id="listOrderByUserId" resultMap="OrderResultMap" parameterType="java.lang.String" >
    SELECT o.order_time ,c.customer_name,c.customer_phone,c.sex,o.invoice_flag FROM app_orders o JOIN app_customer c ON o.customer_id=c.customer_id WHERE o.sale_no=#{userId,jdbcType=VARCHAR} and DATE_FORMAT(o.pay_time,'%Y%m%d')=#{date,jdbcType=VARCHAR}
  </select>


  <resultMap id="ReturnResultMap" type="com.jianfei.core.dto.ReturnCardDto">
    <id column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone" />
    <result column="back_type" jdbcType="INTEGER" property="backType" />
  </resultMap>

  <select id="selectReturnCardsByUserId" resultMap="ReturnResultMap" parameterType="java.lang.String" >
   SELECT o.order_time,c.customer_name,c.customer_phone,b.back_type FROM app_card_back b JOIN app_orders o ON b.order_id=o.order_id JOIN app_customer c ON o.customer_id=c.customer_id WHERE o.sale_no=#{userId,jdbcType=VARCHAR}
  </select>
  
  <resultMap id="SalesRankingMap" type="com.jianfei.core.dto.SalesRankingDto">
    <id column="sale_no" jdbcType="VARCHAR" property="uno" />
    <result column="photo" jdbcType="VARCHAR" property="imgUrl" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="order_number" jdbcType="INTEGER" property="amout" />
  </resultMap>
  <select id="salesRanking" resultMap="SalesRankingMap" parameterType="java.util.Map" >
		<![CDATA[select * from (
		   			SELECT
						aoa.sale_no,
						aoa.photo,
						aoa.bname,
						aoa.sex,
						sum(aoa.order_num) AS order_number
					FROM
						app_order_archive aoa,
						sys_users su,
						sys_use_role sur,
						sys_roles sr
					WHERE
						aoa.bid = su.id
					AND su.id = sur.user_id
					AND sur.role_id = sr.id
					AND sr.role_type = 2
				 ]]>
					<if test="startTime!=null and startTime!=''">
					   <![CDATA[and aoa.file_time >= #{startTime}]]>
					</if>
					<if test="endTime!=null and endTime!=''">
					    <![CDATA[AND aoa.file_time <= #{endTime}]]>
					</if>
					<if test="pid != null and pid!=''">
						AND aoa.pid = #{pid}
					</if>
					<if test="airport_id != null and airport_id!=''">
						AND aoa.airport_id in 
							<foreach item="item" index="index" collection="airport_id" 
	                         open="(" separator="," close=")">
	                        #{item}
	               			</foreach>
					</if>
				GROUP BY aoa.bid
			union
				<![CDATA[ 
				SELECT
					aoa.sale_no,
					aoa.photo,
					aoa.bname,
					aoa.sex,
					SUM(aoa.order_num) AS order_number
				FROM
					app_order_archive aoa,
					sys_users su
				WHERE
					aoa.bid = su.id
				AND su.user_type = 3
				]]>
				<if test="startTime!=null and startTime!=''">
				   <![CDATA[and aoa.file_time >= #{startTime}]]>
				</if>
				<if test="endTime!=null and endTime!=''">
				    <![CDATA[AND aoa.file_time <= #{endTime}]]>
				</if>
				<if test="pid != null and pid!=''">
					AND aoa.pid = #{pid}
				</if>
				<if test="airport_id != null and airport_id!=''">
					AND aoa.airport_id in
							<foreach item="item" index="index" collection="airport_id" 
	                         open="(" separator="," close=")">
	                        #{item}
	               			</foreach>
				</if>
		<![CDATA[GROUP BY aoa.bid
		) as ranking
		order by ranking.order_number desc
		LIMIT #{pageStart},#{pageSize}]]>
  </select>
  
  <!--根据业务人员工号查询某个时间段内每天的开卡数 -->
  <select id="selectOrderNumByUserId" resultMap="charDataMap" parameterType="java.util.Map">
  	select sum(order_num) as order_num,file_time from app_order_archive aoa where aoa.sale_no=#{saleNo} 
  	<if test="beginTime!=null">
    	<![CDATA[   and DATE_FORMAT(aoa.file_time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')]]>
    </if>
    <if test="endTime!=null">
    	<![CDATA[   and DATE_FORMAT(aoa.file_time, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d') ]]>
    </if>
    group by file_time
  </select>
  
  <!--根据业务人员工号查询某个时间段内每天的退卡数 -->
  <select id="selectBackCardByUserId" resultMap="charDataMap" parameterType="java.util.Map">
  	select sum(order_num_back) as order_num_back,file_time from app_back_archive aba where aba.sale_no=#{saleNo} 
  	<if test="beginTime!=null">
    	<![CDATA[   and DATE_FORMAT(aba.file_time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')]]>
    </if>
    <if test="endTime!=null">
    	<![CDATA[   and DATE_FORMAT(aba.file_time, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d') ]]>
    </if>
    group by file_time
  </select>



</mapper>