<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.ArchiveMapper">
	<!-- 全国总的开卡数 -->
	<select id="masterTotal" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[SELECT SUM(a.`order_num`) AS total FROM app_order_archive a ]]>
		<where>
			<if test="year!=null">
				<![CDATA[a.`year`={year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  a.`month`=#{month} ]]>
			</if>
			<if test="ariportIds!=null">
				and a.`airport_id` in
				<foreach item="item" index="index" collection="ariportIds"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<!-- 开卡数前top3的省份 -->
	<select id="masterTop" resultType="java.util.Map" parameterType="java.util.Map">
		<![CDATA[
			SELECT
				aoa.pid,
				aoa.province,
				aoa.bname,
				A.max_order as max_order,
				aoa.`year`,
				aoa.`month`,
				aoa.`day`,
				aoa.airport_id,
				aoa.airportname,
				sum(aoa.order_num) AS sum_order
			FROM
				app_order_archive aoa
			INNER JOIN (
				SELECT
					ao.pid,
					max(ao.order_num) AS max_order
				FROM
					app_order_archive ao
					where 	
					ao.`year` = #{year} 
					AND ao. MONTH = #{month}
				GROUP BY
					ao.pid
			) A ON aoa.pid = A.pid
			AND A.max_order = aoa.order_num
		]]>
		<where>
			<if test="year!=null">
				<![CDATA[aoa.`year`=#{year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  aoa.`month`=#{month} ]]>
			</if>
			<if test="ariportIds!=null">
				and aoa.`airport_id` in
				<foreach item="item" index="index" collection="ariportIds"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
			GROUP BY
				aoa.pid
			ORDER BY
				sum_order DESC
			LIMIT 0,3
	</select>

	<!-- 为经理角色绘图 -->
	<select id="masterDraw" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
				archie.pid,archie.`province`,SUM(archie.`order_num`) as order_num
			FROM
			`app_order_archive` archie]]>
		<where>
			<if test="year!=null">
				<![CDATA[archie.`year`=#{year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  archie.`month`=#{month} ]]>
			</if>
			<if test="ariportIds!=null">
				and archie.`airport_id` in
				<foreach item="item" index="index" collection="ariportIds"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		GROUP BY archie.`province`,archie.pid
	</select>

	<!-- 统计-主管首页统计的订单数 -->
	<select id="zhuGuanTotal" resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT CASE WHEN
		SUM(a.`order_num`) IS NULL THEN
		0
		ELSE
		SUM(a.`order_num`)
		END AS total
		FROM `app_order_archive` a WHERE
		a.`year`=#{year} and a.`month`=#{month}
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<!-- 统计-主管首页统计的订单数和最优业务员统计 -->
	<select id="zhuGuanAllAirPort" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
			a.`airport_id`,
			a.`airportname`,
			CASE WHEN SUM(a.`order_num`) is null then 0 ELSE SUM(a.`order_num`)  end AS order_num,
			b.bname,
			b.maxOrder
		FROM
			app_order_archive a
		INNER JOIN (
			SELECT
				max(a.order_num) AS maxOrder,
				a.bname,
				a.airport_id
			FROM
				app_order_archive a
			WHERE
				a.`year` = #{year} 
				AND a. MONTH = #{month}
			GROUP BY a.airport_id) b
		ON b.airport_id = a.airport_id and b.maxOrder=a.order_num
		WHERE
				a.`year` = #{year} 
				AND a. MONTH = #{month}
		]]>
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<![CDATA[	GROUP BY
						a.`airportname`,
						a.`airport_id`
		]]>
	</select>

	<!-- 统计-主管柱状图 -->
	<select id="zhuGuanDraw" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
				A.airportname,
				GROUP_CONCAT(A.bname) AS bnames,
				GROUP_CONCAT(A.order_num) AS order_nums
			FROM
				(
					SELECT
						a.`airport_id`,
						a.`airportname`,
						a.`bname`,
						a.bid,
						CASE WHEN SUM(a.`order_num`) is null THEN 0 ELSE SUM(a.`order_num`) END  AS order_num
					FROM
						app_order_archive a
					WHERE
						    a.`year` = #{year} 
							AND a. MONTH = #{month}
			]]>
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		 <![CDATA[	GROUP BY
								a.airport_id,
								a.`airportname`,
								a.`bname`,
								a.bid
						) A
					GROUP BY
						A.airportname
		]]>
	</select>
	<!-- 日归档表抽取 -->
	<select id="baseDailyExtract" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO `app_order_archive` (
			  `bid`,
			  `file_time`,
			  `order_num`,
			  `dflag`,
			  `bname`,
			  `airportname`,
			  `airport_id`,
			  `year`,
			  `month`,
			  `day`,
			  `province`,
			  `dayweek`,
			  `sex`,
			  `photo`,
			  `pid`,
			  order_num_back
			)  SELECT
				u.id,
				#{maxTime},
				CASE
				WHEN count(ao.order_id) IS NULL THEN
					0
				ELSE
					count(ao.order_id)
				END AS order_num,
				ao.dtflag,
				u.`name` AS bname,
				a.airport_name,
				a.airport_id,
				DATE_FORMAT(#{maxTime},'%Y') AS YEAR,
				DATE_FORMAT(#{maxTime},'%m') AS MONTH,
				DATE_FORMAT(#{maxTime},'%d') AS DAY,
				c.name,
				WEEKDAY(#{maxTime})+1,
				u.sex,
				u.photo,
				c.CID as pid,
				CASE
				WHEN ab.back_order_num IS NULL THEN
					0
				ELSE
					ab.back_order_num
				END
				 as order_num_back
			FROM
				sys_users u
			INNER JOIN app_orders ao ON ao.sale_no = u.`code` and DATE_FORMAT(ao.pay_time, '%Y-%m-%d') =#{maxTime}
			INNER JOIN sys_airport a ON a.airport_id=ao.airport_id and a.dtflag=0 and a.state=0
			inner join sys_city c on a.province=c.CID
			LEFT JOIN (
				SELECT
					ao.sale_no,
					ao.airport_id as airport_id,
					count(card.back_id) as back_order_num
				FROM
					`app_card_back` card
				INNER JOIN `app_orders` ao ON card.order_id = ao.id
				WHERE
					DATE_FORMAT(card.finish_time,'%Y-%m-%d')  =#{maxTime}
				GROUP BY
					ao.sale_no,
					ao.airport_id
			) ab ON ab.sale_no = u.`code` and ab.airport_id=a.airport_id
			GROUP BY
			u.id,
			u.`name`,
			a.airport_id,
			a.airport_name,
			c.CID,
			c.`name`
		]]>
	</select>
	<!-- *******************************************************华丽的分割线****************************************************************** -->


	<!--缓存:key-> date+pid -->
	<select id="dateProvinceIdRedisCache" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
				SELECT
					concat(#{currentTime},'$',pid) as cacheKey,
					count(DISTINCT aoa.bid) AS pcount,
					sum(aoa.order_num) AS total,
					sum(aoa.order_num) / count(DISTINCT aoa.bid) AS avgNum,
					aoa.pid,
					CASE
					WHEN sum(aoa.order_num_back) IS NULL THEN
						0
					ELSE
						sum(aoa.order_num_back)
					END AS back_order_total,
					sum(aoa.order_num_back) / count(DISTINCT aoa.bid) as avgNum_back
				FROM
					app_order_archive aoa
					where DATE_FORMAT(aoa.file_time,'%Y-%m-%d') = #{currentTime}
				GROUP BY
					aoa.pid
		]]>
	</select>
	<!--缓存 :key-> date+pid+airportId -->
	<select id="dateProvinceIdApportIds" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
			select 
				concat(#{currentTime},"$",aoa.pid,'$',aoa.airport_id) as cacheKey, 
					sum(aoa.order_num) AS total,
					CASE
					WHEN sum(aoa.order_num_back) IS NULL THEN
						0
					ELSE
						sum(aoa.order_num_back)
					END AS back_order_total,
					 B.pcount,
					 sum(aoa.order_num) / pcount AS avgNum,
					 sum(aoa.order_num_back) / pcount AS avgNum_back
		    from app_order_archive aoa 
		    LEFT JOIN (
				SELECT
					sua.airport_id,
					count(su.id) AS pcount
				FROM
					sys_users su
				INNER JOIN sys_user_airport sua ON su.id = sua.sys_id
				WHERE
					su.user_type = 3
				GROUP BY
					sua.airport_id
			) B ON aoa.airport_id = B.airport_id
			    where DATE_FORMAT(aoa.file_time,'%Y-%m-%d') = #{currentTime}
			group by aoa.pid,aoa.airport_id 
		]]>
	</select>

	<!-- 根据机场选择场站 -->
	<select id="selectAirportByProvinceIds" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
			SELECT
				city.CID as pid,
				city.`name` as pname,
				GROUP_CONCAT(DISTINCT sat.airport_id) as aids,
				GROUP_CONCAT(distinct sat.airport_name) as anames
			FROM sys_city city
			inner join sys_airport sat on sat.province=city.CID
			inner JOIN sys_user_airport sua on sat.airport_id=sua.airport_id
			inner JOIN sys_users su on su.id=sua.sys_id 
		]]>
		<where>
			<if test="code!=null and code!=''">
				su.code=#{code}
			</if>
			<if test="cid!=null and cid!=''">
				and cid=#{cid}
			</if>
		</where>
		<![CDATA[
				group by city.CID,city.`name`
		]]>
	</select>


</mapper>