<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.ArchiveMapper">
	<!-- 全国总的开卡数 -->
	<select id="masterTotal" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[SELECT SUM(a.`order_num`) AS total FROM app_order_archive a ]]>
		<where>
			<if test="year!=null">
				<![CDATA[a.`year`={year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  a.`month`=#{month} ]]>
			</if>
		</where>
	</select>

	<!-- 开卡数前top3的省份 -->
	<select id="masterTop" resultType="java.util.Map" parameterType="java.util.Map">
		<![CDATA[SELECT A.*,B.bname,B.total FROM  (SELECT 
			  archie.`province`,SUM(archie.`order_num`) AS order_sum
			FROM
			  `app_order_archive` archie
			 ]]>
		<where>
			<if test="year!=null">
				<![CDATA[archie.`year`=#{year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  archie.`month`=#{month} ]]>
			</if>
		</where>
		<![CDATA[ GROUP BY archie.`province`	 LIMIT 0,3) A
			 INNER JOIN 
			 (SELECT MAX(a.`order_num`) AS total ,a.bname,a.`province` FROM app_order_archive a]]>
		<where>
			<if test="year!=null">
				<![CDATA[a.`year`=#{year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  a.`month`=#{month} ]]>
			</if>
		</where>
		GROUP BY a.`bname`,a.`province` ) B
		ON A.province=B.province order by
		B.total desc
	</select>

	<!-- 为经理角色绘图 -->
	<select id="masterDraw" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
				archie.`province`,SUM(archie.`order_num`) as order_num
			FROM
			`app_order_archive` archie]]>
		<where>
			<if test="year!=null">
				<![CDATA[archie.`year`=#{year} ]]>
			</if>
			<if test="month!=null">
				<![CDATA[and  archie.`month`=#{month} ]]>
			</if>
		</where>
		GROUP BY archie.`province`
	</select>

	<!-- 统计-主管首页统计的订单数 -->
	<select id="zhuGuanTotal" resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT SUM(a.`order_num`) AS total FROM `app_order_archive` a WHERE
		a.`year`=#{year} and a.`month`=#{month}
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

	</select>
	<!-- 统计-主管首页统计的订单数和最优业务员统计 -->
	<select id="zhuGuanAllAirPort" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
			a.`airport_id`,
			a.`airportname`,
			SUM(a.`order_num`) AS order_num,
			b.bname,
			b.maxOrder
		FROM
			app_order_archive a
		INNER JOIN (
			SELECT
				max(a.order_num) AS maxOrder,
				a.bname,
				a.airport_id
			FROM
				app_order_archive a
			WHERE
					 a.`year` = #{year} 
					AND a. MONTH = #{month}
		]]>
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<![CDATA[GROUP BY
						a.airport_id,
						a.bname
				) b ON b.airport_id = a.airport_id
			WHERE
				    a.`year` = #{year} 
					AND a. MONTH = #{month}
		]]>
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<![CDATA[	GROUP BY
						a.`airportname`,
						a.`airport_id`
		]]>
	</select>

	<!-- 统计-主管柱状图 -->
	<select id="zhuGuanDraw" resultType="java.util.Map"
		parameterType="java.util.Map">
		<![CDATA[	
			SELECT
				A.airportname,
				GROUP_CONCAT(A.bname) AS bnames,
				GROUP_CONCAT(A.order_num) AS order_nums
			FROM
				(
					SELECT
						a.`airport_id`,
						a.`airportname`,
						a.`bname`,
						a.`id`,
						SUM(a.`order_num`) AS order_num
					FROM
						app_order_archive a
					WHERE
						    a.`year` = #{year} 
							AND a. MONTH = #{month}
			]]>
		<if test="ariportIds!=null">
			and a.`airport_id` in
			<foreach item="item" index="index" collection="ariportIds"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		 <![CDATA[	GROUP BY
								a.airport_id,
								a.`airportname`,
								a.`bname`,
								a.bid
						) A
					GROUP BY
						A.airportname
		]]>
	</select>
	<!-- 获取订单的最大日期 -->
	<select id="selectOrderMaxDay" resultType="java.util.Map">
		<![CDATA[SELECT DATE_FORMAT(MAX(order_time),'%Y-%m-%d') AS maxTime FROM app_orders]]>
	</select>
	<!-- 日归档表抽取 -->
	<select id="baseDailyExtract" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO `app_order_archive` (
			  `bid`,
			  `file_time`,
			  `order_num`,
			  `dflag`,
			  `bname`,
			  `airportname`,
			  `airport_id`,
			  `year`,
			  `month`,
			  `day`,
			  `province`,
			  `dayweek`,
			  `sex`,
			  `photo`,
			  `pid`
			)  SELECT
				u.id,
				max(ao.order_time) AS file_time,
				sum(ao.order_id) AS order_num,
				ao.dtflag,
				u.`name` AS bname,
				a.airport_name,
				a.airport_id,
				DATE_FORMAT(#{maxTime},'%Y') AS YEAR,
				DATE_FORMAT(#{maxTime},'%m') AS MONTH,
				DATE_FORMAT(#{maxTime},'%d') AS DAY,
				a.province,
				WEEKDAY(#{maxTime})+1,
				u.sex,
				u.photo,
				c.CID as pid
			FROM
				sys_users u
			INNER JOIN app_orders ao ON ao.id = u.id
			INNER JOIN sys_user_airport sua ON sua.sys_id = u.id
			INNER JOIN sys_airport a ON sua.airport_id = a.airport_id
			inner join sys_city c on a.province=c.CID
			WHERE DATE_FORMAT(ao.order_time, '%Y-%m-%m') =#{maxTime}
			GROUP BY
			u.id,
			u.`name`,
			a.airport_id,
			a.airport_name,
			c.CID,
			c.`name`
		]]>
	</select>
	<!-- *******************************************************华丽的分割线****************************************************************** -->


	<!--缓存:key-> date+pid -->
	<select id="dateProvinceIdRedisCache" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
				SELECT
					concat(#{currentTime},'$',pid) as cacheKey,
					count(DISTINCT aoa.bid) AS pcount,
					sum(aoa.order_num) AS total,
					sum(aoa.order_num) / count(DISTINCT aoa.bid) AS avgNum,
					aoa.pid
				FROM
					app_order_archive aoa
					where DATE_FORMAT(aoa.file_time,'%Y-%m-%d') = #{currentTime}
				GROUP BY
					aoa.pid
		]]>
	</select>
	<!--缓存 :key-> date+pid+airportId -->
	<select id="dateProvinceIdApportIds" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
			select concat(#{currentTime},"$",aoa.pid,'$',aoa.airport_id) as cacheKey, sum(aoa.order_num) as total from app_order_archive aoa 
			where DATE_FORMAT(aoa.file_time,'%Y-%m-%d') = #{currentTime}
			group by aoa.pid,aoa.airport_id 
		]]>
	</select>

	<!-- 根据机场选择场站 -->
	<select id="selectAirportByProvinceIds" parameterType="java.util.Map"
		resultType="java.util.Map">
		<![CDATA[
			SELECT
				city.CID as pid,
				city.`name` as pname,
				GROUP_CONCAT(DISTINCT sat.airport_id) as aids,
				GROUP_CONCAT(distinct sat.airport_name) as anames
			FROM sys_city city
			inner join sys_airport sat on sat.province=city.CID
			inner JOIN sys_user_airport sua on sat.airport_id=sua.airport_id
			inner JOIN sys_users su on su.id=sua.sys_id 
			where 1=1 and su.code=#{code}
		]]>
		<![CDATA[
				group by city.CID,city.`name`
		]]>
	</select>


</mapper>