<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.SysViproomMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.SysViproom" >
    <id column="viproom_id" property="viproomId" jdbcType="VARCHAR" />
    <result column="airport_id" property="airportId" jdbcType="VARCHAR" />
    <result column="viproom_name" property="viproomName" jdbcType="VARCHAR" />
    <result column="singleconsume_money" property="singleconsumeMoney" jdbcType="REAL" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="dtflag" property="dtflag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jianfei.core.bean.SysViproom" extends="BaseResultMap" >
    <result column="Latitude" property="latitude" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    viproom_id, airport_id, viproom_name, singleconsume_money, room_num, open_time, end_time, 
    longitude, province, city, country, address, remark1, dtflag
  </sql>
  <sql id="Blob_Column_List" >
    Latitude
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_viproom
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_viproom
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianfei.core.bean.SysViproom" >
    insert into sys_viproom (viproom_id, airport_id, viproom_name, 
      singleconsume_money, room_num, open_time, 
      end_time, longitude, province, 
      city, country, address, 
      remark1, dtflag, Latitude
      )
    values (#{viproomId,jdbcType=VARCHAR}, #{airportId,jdbcType=VARCHAR}, #{viproomName,jdbcType=VARCHAR}, 
      #{singleconsumeMoney,jdbcType=REAL}, #{roomNum,jdbcType=INTEGER}, #{openTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{longitude,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{dtflag,jdbcType=INTEGER}, #{latitude,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.SysViproom" >
    insert into sys_viproom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="viproomId != null" >
        viproom_id,
      </if>
      <if test="airportId != null" >
        airport_id,
      </if>
      <if test="viproomName != null" >
        viproom_name,
      </if>
      <if test="singleconsumeMoney != null" >
        singleconsume_money,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="dtflag != null" >
        dtflag,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="viproomId != null" >
        #{viproomId,jdbcType=VARCHAR},
      </if>
      <if test="airportId != null" >
        #{airportId,jdbcType=VARCHAR},
      </if>
      <if test="viproomName != null" >
        #{viproomName,jdbcType=VARCHAR},
      </if>
      <if test="singleconsumeMoney != null" >
        #{singleconsumeMoney,jdbcType=REAL},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    <set >
      <if test="airportId != null" >
        airport_id = #{airportId,jdbcType=VARCHAR},
      </if>
      <if test="viproomName != null" >
        viproom_name = #{viproomName,jdbcType=VARCHAR},
      </if>
      <if test="singleconsumeMoney != null" >
        singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        dtflag = #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=VARBINARY},
      </if>
    </set>
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    set airport_id = #{airportId,jdbcType=VARCHAR},
      viproom_name = #{viproomName,jdbcType=VARCHAR},
      singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      room_num = #{roomNum,jdbcType=INTEGER},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      dtflag = #{dtflag,jdbcType=INTEGER},
      Latitude = #{latitude,jdbcType=VARBINARY}
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    set airport_id = #{airportId,jdbcType=VARCHAR},
      viproom_name = #{viproomName,jdbcType=VARCHAR},
      singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      room_num = #{roomNum,jdbcType=INTEGER},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      dtflag = #{dtflag,jdbcType=INTEGER}
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
</mapper>