<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.core.mapper.BusizzMapper">

	<resultMap id="userRs" type="User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="state" column="state" />
		<result property="phone" column="phone" />
		<result property="password" column="password" />
		<result property="loginName" column="login_name" />
		<result property="salt" column="salt" />
		<result property="locked" column="locked" />
		<result property="userType" column="user_type" />
		<result property="sex" column="sex" />
		<result property="dtflag" column="dtflag" />
		<result property="photo" column="photo" />
		<result property="createdatetime" column="create_time" />
		<result property="updatedatetime" column="update_time" />
		<result property="entryTime" column="entry_time" />
		<result property="ariPortIds" column="ariPorts.id" />
		<result property="ariPortNames" column="ariPorts.name" />
		<result property="job" column="job" />
		<result property="extraPasswd" column="extra_passwd" />
	</resultMap>
	
	<!-- 业务人员id和所属省份id -->
	<resultMap  id="userProvinceMap" type="UserProvince">
		<result property="userId" column="id" />
		<result property="provinceId" column="cid" />
	</resultMap>
	
	<select id="listMap" parameterType="java.util.Map" resultType="java.util.Map">
		select * from (
		<![CDATA[
			SELECT
				u.id,
				u.`code`,
				u.`name`,
				u.salt,
				GROUP_CONCAT(DISTINCT ap.`airport_id`) AS 'ariPortsIds',
				GROUP_CONCAT(DISTINCT ap.`airport_name`) AS 'ariPortsNames',
				u.phone,
				count(ao.order_id) AS tmonth,
				u.state,
				u.job,
				lmonth,
				(lamonth + count(ao.order_id)) AS total
			FROM
				`sys_users` u
			LEFT JOIN `sys_user_airport` ua ON ua.`sys_id` = u.`id`
			LEFT JOIN `sys_airport` ap ON ap.`airport_id` = ua.`airport_id`
			LEFT JOIN app_orders ao ON ao.id = u.id
			AND DATE_FORMAT(ao.order_time, '%Y-%m-%d') = #{today}
			LEFT JOIN (
				SELECT
					sum(a.order_num) AS lamonth,
					a.airport_id
				FROM
					app_order_archive a
			) aoa ON aoa.airport_id = ua.airport_id
			LEFT JOIN (
				SELECT
					sum(a.order_num) AS lmonth,
					a.airport_id
				FROM
					app_order_archive a
				WHERE
					a.`year` =#{year}
				AND a.`month` = #{month}
			) aoa1 ON aoa1.airport_id = ua.airport_id
			WHERE
				u.user_type = 3]]>
		<if test="name!=null">
			and u.name like CONCAT('%', #{name}, '%')
		</if>
		<![CDATA[
			GROUP BY
			u.`name`
			ORDER BY
			create_time DESC]]>)
		A
		<if test="sort!=null">
			order by ${sort} ${order}
		</if>

	</select>
	<select id="getUserByCode" resultMap="userRs" parameterType="String">
		SELECT
		  `id`,
		  `name`,
		  `phone`,
		  `state`,
		  `entry_time`,
		  `sex`,
		  `photo`,
		  `user_type`,
		  `login_name`,
		  `create_time`,
		  `update_time`,
		  `salt`,
		  `dtflag`,
		  `code`,
		  `job` from sys_users where code =#{code} ;
	</select>

	<insert id="save" parameterType="User">
		<![CDATA[
			INSERT INTO  sys_users (
				  `name`,
				  `phone`,
				  `state`,
				  `entry_time`,
				  `password`,
				  `sex`,
				  `user_type`,
				  `login_name`,
				  `create_time`,
				  `update_time`,
				  `salt`,
				  `dtflag`,
				  job,
				  code,
				 extra_passwd
				) 
				VALUES
				  (
				    #{name},
				    #{phone},
				    #{state},
				    #{entryTime},
				    #{password},
				    #{sex},
				    #{userType},
				    #{loginName},
				    #{createdatetime},
				    #{updatedatetime},
				    #{salt},
				    #{dtflag},
				    #{job},
				    #{code},
				    #{extraPasswd}
				  )
			   ]]>
	</insert>

	<update id="update" parameterType="User">
		<if test="id!=0">
			update sys_users set update_time=#{updatedatetime}
			<if test="name!=null">
				,name=#{name}
			</if>
			<if test="password!=null">
				,password=#{password}
			</if>
			<if test="entryTime!=null">
				,entryTime=#{entryTime}
			</if>
			<if test="state!=null">
				,state=#{state}
			</if>
			<if test="phone!=null">
				,phone=#{phone}
			</if>
			<if test="code!=null and code!=''">
				,code=#{code}
			</if>
			<if test="userType!=null">
				,userType=#{userType}
			</if>
			<if test="loginName!=null">
				,login_name=#{loginName}
			</if>
			,sex=#{sex},dtflag=#{dtflag} where id=#{id}
		</if>
	</update>

	<delete id="delete" parameterType="Long">
		<![CDATA[
			update sys_users set dtflag =1 where id=#{id} and user_type=3;
		]]>
	</delete>

	<update id="initpwd" parameterType="java.util.Map">
		UPDATE sys_users u SET u.extra_passwd= #{pwd},u.password=#{password}
		where u.id=#{id}
	</update>

	<select id="selectMap" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT  `id`,
			  `name`,
			  `phone`,
			  `state`,
			  `entry_time` as entryTime ,
			  `password`,
			  `sex`,
			  `photo`,
			  `user_type` as userType,
			  `login_name` as loginName,
			  `create_time` as createdatetime,
			  `update_time` as updatedatetime,
			  `salt`,
			  `dtflag`,
			  `code`,
			  `job`,
			  `extra_passwd`  FROM `sys_users` u
		<where>
			<if test="id!=null and id!=''">
				id=#{id}
			</if>
			<if test="dtflag!=null and dtflag!=''">
				and dtflag=#{dtflag}
			</if>
			<if test="dateTime!=null and dateTime!=''">
				and DATE_FORMAT(create_time,'%Y-%m')=#{dateTime}
			</if>
		</where>
	</select>
	<!--根据业务人员id获取所属省份id -->
	<select id="getProvinceIdByUserId" resultMap="userProvinceMap" parameterType="java.lang.String">
		SELECT
		distinct(city.cid),u.id
		FROM
		sys_users u
		INNER JOIN sys_user_airport sua ON sua.sys_id = u.id
		INNER JOIN sys_airport sa ON sa.airport_id = sua.airport_id
		INNER JOIN sys_city city ON city.CID = sa.province
		where u.id=#{uNo}
	</select>
</mapper>