<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.core.mapper.RoleMapper">

	<resultMap id="roleResult" type="Role">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="url" column="url" />
		<result property="description" column="description" />
		<result column="create_time" property="createdatetime" />
		<result column="update_time" property="updatedatetime" />
		<result column="dtflag" property="dtflag" />
		<result column="priority" property="priority" />
		<result column="initPwd" property="initPwd" />
		<collection property="resources" ofType="Resource">
			<id property="id" column="resources.id" />
			<id property="name" column="resources.name" />
		</collection>
	</resultMap>

	<select id="get" resultMap="roleResult" parameterType="java.util.Map">
		<![CDATA[
			SELECT role.*,GROUP_CONCAT(sa.id  ) AS 'resources.id',GROUP_CONCAT(sa.`name` ) AS 'resources.name' FROM `sys_roles` role 
			LEFT JOIN `sys_role_author` sau ON sau.`role_id`=role.`id` 
			LEFT JOIN `sys_author` sa ON sa.`id`=sau.`author_id`  where role.dtflag!=1
		]]>
		<if test="id!=null">
			and role.id =#{id}
		</if>
		<if test="notLikeName!=null">
			and role.name=#{notLikeName}
		</if>
		<if test="name!=null">
			and role.name like CONCAT('%', #{name}, '%')
		</if>
		<if test="description!=null">
			and role.description like CONCAT('%', #{description},'%')
		</if>
		GROUP BY role.name
	</select>

	<insert id="save" parameterType="Role">
		<![CDATA[
			INSERT INTO sys_roles
			(
				name,
				description,
				create_time,
				update_time,
				dtflag,
				url,
				priority,
				initPwd
			)
			VALUES
			(
				#{name},
				#{description},
				#{createdatetime},
				#{updatedatetime},
				#{dtflag},
				#{url},
				#{priority},
				#{initPwd}
			)
		]]>
	</insert>

	<update id="update" parameterType="Role">
		UPDATE sys_roles
		SET
		id=#{id}
		<if test="dtflag!=null">
			,dtflag=#{dtflag}
		</if>
		<if test="name!=null">
			,name = #{name}
		</if>
		<if test="description!=null">
			,description = #{description}
		</if>
		<if test="updatedatetime!=null">
			,update_time = #{updatedatetime}
		</if>
		<if test="url!=null">
			,url=#{url}
		</if>
		<if test="priority!=null">
			,priority=#{priority}
		</if>
		<if test="initPwd!=null">
			,initPwd=#{initPwd}
		</if>
		WHERE id = #{id}
	</update>

	<delete id="deleteByResourceFromRole" parameterType="Long">
		<![CDATA[
			DELETE FROM sys_role_author  WHERE role_id=#{roleId}
		]]>
	</delete>

	<insert id="batchInsertRoleResource" parameterType="ArrayList">
		INSERT INTO sys_role_author (role_id,author_id)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.roleId}, #{item.resourceId})
		</foreach>
	</insert>

	<select id="selectUserByRoleId" parameterType="Long" resultType="java.util.Map">
		<![CDATA[
		SELECT u.* FROM `sys_users` u INNER JOIN `sys_use_role` r ON u.`id`=r.`user_id` WHERE  u.`dtflag`=0 AND r.`role_id`=#{id}
		]]>
	</select>

	<select id="selectRoleByUserId" parameterType="Long" resultMap="roleResult">
		<![CDATA[
			SELECT role.* FROM `sys_roles` role INNER JOIN `sys_use_role` sur ON role.`id`=sur.`role_id` WHERE sur.`user_id`=#{id}
		]]>
	</select>
	
	<select id="selectRoleById" parameterType="Long" resultType="java.util.Map" >
		<![CDATA[
			SELECT 
			  `id`,
			  `name`,
			  `update_time`,
			  `create_time`,
			  `description`,
			  `dtflag`,
			  `url`,
			  `priority`,
			  `initPwd` 
			 from sys_roles role where id=#{id}
		]]>
	</select>

</mapper>