<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.core.mapper.UserMapper">

	<resultMap id="userRs" type="User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="state" column="state" />
		<result property="phone" column="phone" />
		<result property="loginName" column="login_name" />
		<result property="salt" column="salt" />
		<result property="locked" column="locked" />
		<result property="userType" column="user_type" />
		<result property="sex" column="sex" />
		<result property="dtflag" column="dtflag" />
		<result property="photo" column="photo" />
		<result property="createdatetime" column="create_time" />
		<result property="updatedatetime" column="update_time" />
		<result property="entryTime" column="entry_time" />
		<result property="code" column="code" />
		<result property="ariPortIds" column="ariPorts.id" />
		<result property="ariPortNames" column="ariPorts.name" />
		<result property="roleIds" column="roles.id" />
		<result property="roelNames" column="roles.name" />
		<result property="roleTypes" column="roles.roleType" />
		<result property="extraPasswd" column="extra_passwd" />
		<!-- <collection property="roles" ofType="Role"> <id property="id" column="roles.id" 
			/> <id property="name" column="roles.name" /> </collection> -->
	</resultMap>

	<select id="get" resultMap="userRs" parameterType="java.util.Map">
	<![CDATA[
		SELECT
			u.*,
			GROUP_CONCAT(distinct r.`id`) AS 'roles.id',
			GROUP_CONCAT(distinct r.`name`) AS 'roles.name',
			GROUP_CONCAT(distinct r.`role_type`) AS 'roles.roleType',
			GROUP_CONCAT(distinct ap.`airport_name`) AS 'ariPorts.name',
			GROUP_CONCAT(DISTINCT ap.airport_id) AS 'ariPorts.id'
		FROM
			`sys_users` u
		LEFT JOIN `sys_use_role` ur ON u.`id` = ur.`user_id`
		LEFT JOIN `sys_roles` r ON ur.`role_id` = r.`id`
		LEFT JOIN `sys_user_airport` ua ON ua.`sys_id` = u.`id`
		LEFT JOIN `sys_airport` ap ON ap.`airport_id` = ua.`airport_id`
		 ]]>
		<where>
			<if test="userType!=null and userType!=''">
				u.user_type=#{userType}
			</if>
			<if test="id!=null">
				and u.id=#{id}
			</if>
			<if test="dtflag!=null and dtflag!=''">
				and u.dtflag=#{dtflag}
			</if>
			<if test="name!=null">
				and u.name like CONCAT('%', #{name}, '%')
			</if>
			<if test="loginName!=null">
				and u.login_name like CONCAT('%', #{loginName}, '%')
			</if>
			<if test="sex!=null">
				and u.sex = #{sex}
			</if>
			<if test="start!=null">
				<![CDATA[and u.create_time >= #{start}]]>
			</if>
			<if test="ends!=null">
				<![CDATA[and u.create_time <= #{ends}]]>
			</if>
			<if test="uno!=null">
				<![CDATA[and u.code = #{uno}]]>
			</if>
			<if test="state!=null">
				<![CDATA[and u.state = #{state}]]>
			</if>
		</where>
		GROUP BY u.login_name
		<if test="sort!=null">
			order by ${sort} ${order}
		</if>
	</select>

	<select id="getUserByName" resultMap="userRs" parameterType="String">
		SELECT * from sys_users where login_name =#{loginName} and
		(user_type=1 or user_type=2) AND state=0 and dtflag=0
	</select>

	<select id="getUserByUno" resultMap="userRs" parameterType="String">
		SELECT * from sys_users where code =#{uno} AND state=0 and dtflag=0
	</select>
	<insert id="save" parameterType="User">
		<![CDATA[
			INSERT INTO  sys_users (
				  `name`,
				  `phone`,
				  `state`,
				  `entry_time`,
				  `password`,
				  `sex`,
				  `photo`,
				  `user_type`,
				  `login_name`,
				  `create_time`,
				  `update_time`,
				  `salt`,
				  `dtflag`,
				  extra_passwd,
				  code,
				  job
				) 
				VALUES
				  (
				    #{name},
				    #{phone},
				    #{state},
				    #{entryTime},
				    #{password},
				    #{sex},
				    #{photo},
				    #{userType},
				    #{loginName},
				    #{createdatetime},
				    #{updatedatetime},
				    #{salt},
				    #{dtflag},
				    #{extraPasswd},
				    #{code},
				    #{job}
				  )
			   ]]>
	</insert>

	<update id="update" parameterType="User">
		<if test="id!=0">
			update sys_users set update_time=#{updatedatetime}
			<if test="name!=null">
				,name=#{name}
			</if>
			<if test="job!=null and job!=''">
				,job=#{job}
			</if>
			<if test="password!=null">
				,password=#{password}
			</if>
			<if test="entryTime!=null">
				,entryTime=#{entryTime}
			</if>
			<if test="state!=null">
				,state=#{state}
			</if>
			<if test="phone!=null">
				,phone=#{phone}
			</if>
			<if test="code!=null and code!=''">
				,code=#{code}
			</if>
			<if test="userType!=null">
				,sex=#{userType}
			</if>
			<if test="loginName!=null">
				,login_name=#{loginName}
			</if>
			,sex=#{sex},dtflag=#{dtflag} where id=#{id}
		</if>
	</update>

	<delete id="delete" parameterType="Long">
		<![CDATA[
			update sys_users set dtflag =1 where id=#{id};
		]]>
	</delete>

	<delete id="deleteRolesFromUser" parameterType="Long">
		<![CDATA[
			DELETE FROM `sys_use_role`  WHERE user_id=#{userId}
		]]>
	</delete>

	<insert id="batchInsertUserRole" parameterType="ArrayList">
		INSERT INTO sys_use_role (user_id,role_id)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			( #{item.userId},#{item.roleId} )
		</foreach>
	</insert>

	<update id="updatePasswordByUno" parameterType="String">
		UPDATE sys_users
		SET `password`=#{newPassword},extra_passwd=#{md5Password} WHERE
		`code`=#{uno} and
		`extra_passwd`=#{password}
	</update>

	<update id="updatePhotoPath" parameterType="String">
		UPDATE sys_users SET
		photo=#{photoPath} WHERE `code`=#{userNo}
	</update>

	<select id="validateAccount" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		`id`,
		`name`,
		`phone`,
		`state`,
		`sex`,
		`photo`,
		`user_type`,
		`salt`,
		`code`,
		`login_name`,
		`job`
		FROM
		sys_users
		<where>
			<if test="code!=null and code!=''">
				code=#{code}
			</if>
			<if test="login_name!=null and login_name!=''">
				and login_name=#{login_name}
			</if>
			<if test="id!=null and id!=''">
				and id!=#{id}
			</if>
		</where>
	</select>

	<update id="resetPasswd" parameterType="java.util.Map">
		update sys_users set
		password=#{newPassword} ,extra_passwd=#{extra_passwd} where id=#{id}
		and password=#{password}
	</update>
	<select id="findEntityById" resultMap="userRs" parameterType="Long">
		SELECT * from sys_users where id =#{id} and
		(user_type=1 or
		user_type=2) AND state=0 and dtflag=0
	</select>
</mapper>