<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppConfigMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppConfig" >
   	<id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <!--分页展示权益信息  -->
  <select id="page" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from app_config where dtflag=0
  </select>
  
  <!--插入权益 -->
  <insert id="insert" parameterType="com.jianfei.core.bean.AppConfig" >
    insert into app_config (id,title, type, url,content)
    values (#{id},#{title},#{type},#{url},#{content})
  </insert>
  
  <!--逻辑删除权益 -->
  <update id="delRight" parameterType="java.lang.String" >
  	update app_config set dtflag = 1 where id = #{id}
  </update>
 
  <resultMap id="ResultMapWithBLOBs" type="com.jianfei.core.bean.AppConfig" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
   	id, title,type, url
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  
  <!--根据id获取权益信息  -->
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 06 18:18:35 CST 2016.
    -->
    delete from app_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.AppConfig" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 06 18:18:35 CST 2016.
    -->
    insert into app_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 根据id号更新权益信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppConfig" >
    update app_config
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jianfei.core.bean.AppConfig" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 06 18:18:35 CST 2016.
    -->
    update app_config
    set type = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppConfig" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 06 18:18:35 CST 2016.
    -->
    update app_config
    set type = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectByType" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
  select
    c.id, c.type, c.url,c.content
  from app_config c
  where c.type = #{type,jdbcType=INTEGER}
</select>


  <resultMap id="VipCardResult" type="com.jianfei.core.dto.VipCardInfoDto"  >
    <result column="url" property="shareUrl" jdbcType="VARCHAR" />
    <result column="content" property="right" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="selectVipCardInfo" resultMap="VipCardResult" parameterType="java.lang.Integer" >
    select
   c.content , c.url
    from app_config c
    where c.type = #{type,jdbcType=INTEGER}
  </select>
</mapper>