<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppCustomerMapper">
	<resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppCustomer">
		<id column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
		<result column="customer_identi" property="customerIdenti"
			jdbcType="VARCHAR" />
		<result column="customer_phone" property="phone" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="use_type" property="useType" jdbcType="INTEGER" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="dtflag" property="dtflag" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="orderStatu" property="orderStatu" />
		<result column="card_no" property="cardNo" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="active_time" property="cardActiveTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		customer_id, customer_name, customer_identi,
		customer_phone, sex,
		email, address, password,
		use_type, remark1,
		dtflag, province, city,
		country
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.util.Map">
		<![CDATA[
			SELECT customer.*,o.`order_state` AS 'orderStatu' 
			FROM `app_customer` customer LEFT JOIN `app_orders` o ON customer.`customer_id`=o.`customer_id`
		 ]]>
		<where>
			<if test="orderState!=null and orderState!=''">
				order_state=#{orderState}
			</if>
			<if test="namephone!=null and namephone!=''">
				and (customer_name like CONCAT('%', #{namephone}, '%') or customer_phone like CONCAT('%', #{namephone}, '%') )
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from app_customer
		where customer_id = #{customerId,jdbcType=VARCHAR}
	</select>

	<select id="selectCustomerDetailByPhone" resultMap="BaseResultMap"
			parameterType="java.lang.String">
		SELECT c.customer_id,c.customer_name,c.customer_identi,c.customer_phone,c.sex,c.email,c.address,c.use_type,c.remark1,c.dtflag,c.province,c.city,c.country,v.active_time,
		v.card_no FROM app_customer c JOIN app_vipcard v ON c.customer_id=v.customer_id
		where c.customer_phone = #{phone,jdbcType=VARCHAR} AND  c.dtflag=0
	</select>

	<select id="selectByPhone" resultMap="BaseResultMap"
			parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM app_customer
		where customer_phone = #{phone,jdbcType=VARCHAR} AND dtflag=0
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		update
		app_customer set dtflag=1
		where customer_id =
		#{customerId,jdbcType=VARCHAR}
	</delete>

	<select id="orderInfo" resultType="java.util.HashMap"
		parameterType="String">
		<![CDATA[
			SELECT ao.`order_id`,ao.`order_time`,airport.`airport_name`,suser.`name`,suser.`phone` FROM `app_orders` ao 
			INNER JOIN `sys_airport` airport ON airport.`airport_id`=ao.`airport_id`
			INNER JOIN `sys_users` suser ON suser.`id`=ao.`id` 
			WHERE ao.`customer_id`=#{id}
		 ]]>
	</select>

	<select id="vipCardInfo" resultType="java.util.HashMap"
		parameterType="String">
		<![CDATA[
			SELECT card.`card_no`,card.`valide_time`,card.`remain_money`,card.`init_money` ,ao.`pay_type`,ao.`pay_time`,ao.`activat_time` 
			FROM `app_vipcard` card
			INNER JOIN `app_order_card` aoc ON card.`card_no`=aoc.`card_id`
			INNER JOIN `app_orders` ao ON ao.`order_id`=aoc.`card_id`
			WHERE ao.`customer_id`
		 ]]>
	</select>


	<select id="postInfo" resultType="java.util.HashMap"
		parameterType="String">
		<![CDATA[
			SELECT v.`address`,v.`invoice_type`,v.`invoice_title`,ao.`invoice_flag` FROM `app_invoice`  v 
			INNER JOIN `app_orders` ao ON v.`order_id`=ao.`order_id` 
			WHERE ao.`customer_id`=#{id}
		 ]]>
	</select>

	<select id="backMoneyInfo" resultType="java.util.HashMap"
		parameterType="String">
		<![CDATA[
			SELECT  back.`money`,back.`back_type` FROM `app_card_back` back 
			INNER JOIN `app_vipcard` vip ON back.`card_no`=vip.`card_no` 
			WHERE vip.`customer_id`=#{id}
		 ]]>
	</select>
	<select id="vipCardRescordInfo" resultType="java.util.HashMap"
		parameterType="String">
		<![CDATA[
			SELECT consume.`viproom_name`,consume.`consume_money`,consume.`consume_time` FROM `app_consume` consume 
			INNER JOIN `app_vipcard` vip ON consume.`card_no`=vip.`card_no` 
			WHERE vip.`customer_id`=#{id}
		 ]]>
	</select>

	<insert id="insert" parameterType="com.jianfei.core.bean.AppCustomer" >
		<!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri May 27 14:50:45 CST 2016.
        -->
		insert into app_customer (customer_id, customer_name, customer_identi,
		customer_phone, sex, email,
		address, password, use_type,
		remark1, dtflag, province,
		city, country, createTime
		)
		values (#{customerId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{customerIdenti,jdbcType=VARCHAR},
		#{customerPhone,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{useType,jdbcType=INTEGER},
		#{remark1,jdbcType=VARCHAR}, #{dtflag,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jianfei.core.bean.AppCustomer" >
		<!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri May 27 14:50:45 CST 2016.
        -->
		insert into app_customer
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="customerId != null" >
				customer_id,
			</if>
			<if test="customerName != null" >
				customer_name,
			</if>
			<if test="customerIdenti != null" >
				customer_identi,
			</if>
			<if test="phone != null" >
				customer_phone,
			</if>
			<if test="sex != null" >
				sex,
			</if>
			<if test="email != null" >
				email,
			</if>
			<if test="address != null" >
				address,
			</if>
			<if test="password != null" >
				password,
			</if>
			<if test="useType != null" >
				use_type,
			</if>
			<if test="remark1 != null" >
				remark1,
			</if>
			<if test="dtflag != null" >
				dtflag,
			</if>
			<if test="province != null" >
				province,
			</if>
			<if test="city != null" >
				city,
			</if>
			<if test="country != null" >
				country,
			</if>
			<if test="createTime != null" >
				createTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="customerId != null" >
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="customerName != null" >
				#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="customerIdenti != null" >
				#{customerIdenti,jdbcType=VARCHAR},
			</if>
			<if test="phone != null" >
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null" >
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null" >
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="password != null" >
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="useType != null" >
				#{useType,jdbcType=INTEGER},
			</if>
			<if test="remark1 != null" >
				#{remark1,jdbcType=VARCHAR},
			</if>
			<if test="dtflag != null" >
				#{dtflag,jdbcType=INTEGER},
			</if>
			<if test="province != null" >
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null" >
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="country != null" >
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null" >
				#{createTime,jdbcType=DATE},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppCustomer">
		<!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jun 02 16:39:31 CST 2016.
        -->
		update app_customer
		<set>
			<if test="customerName != null">
				customer_name = #{customerName,jdbcType=VARCHAR},
			</if>
			<if test="customerIdenti != null">
				customer_identi = #{customerIdenti,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				customer_phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="useType != null">
				use_type = #{useType,jdbcType=INTEGER},
			</if>
			<if test="remark1 != null">
				remark1 = #{remark1,jdbcType=VARCHAR},
			</if>
			<if test="dtflag != null">
				dtflag = #{dtflag,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=DATE},
			</if>
		</set>
		where customer_phone = #{phone,jdbcType=VARCHAR}
	</update>

</mapper>