<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppPictureMapper">
	<resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppPicture">
		<id column="picture_id" property="pictureId" jdbcType="INTEGER" />
		<result column="viproom_id" property="viproomId" jdbcType="VARCHAR" />
		<result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
		<result column="click_url" property="clickUrl" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="dtflag" property="dtflag" jdbcType="INTEGER" />
		<result column="imagetype" property="imagetype" />
		<result column="descr" property="descr" />
	</resultMap>
	
	<!--更新vip室图片信息  -->
	<update id="updateByVipRoomId" parameterType="java.util.Map">
		update app_picture set picture_url = #{pictureUrl} where viproom_id = #{viproomId}
	</update>
	
	<!-- 依据viproomId查询 -->
	<select id="selByVipRoomId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from app_picture where viproom_id = #{viproomId}
	</select>
	
	<select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_picture
		<where>
			<if test="1==1">
				dtflag=0
			</if>
			<if test="timagetype!=null">
				and imagetype=#{imagetype}
			</if>
		</where>
	</select>

	<sql id="Base_Column_List">
		picture_id, viproom_id, picture_url, click_url, priority,
		dtflag,imagetype,descr
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from app_picture
		where picture_id = #{pictureId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update app_picture
		set dtflag=1
		where picture_id = #{pictureId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jianfei.core.bean.AppPicture">
		insert into app_picture
		(picture_id, viproom_id, picture_url,
		click_url, priority,
		dtflag,imagetype,descr
		)
		values (#{pictureId,jdbcType=INTEGER},
		#{viproomId,jdbcType=VARCHAR},
		#{pictureUrl,jdbcType=VARCHAR},
		#{clickUrl,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER},
		#{dtflag,jdbcType=INTEGER},#{imagetype},#{descr}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jianfei.core.bean.AppPicture">
		insert into app_picture
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pictureId != null">
				picture_id,
			</if>
			<if test="viproomId != null">
				viproom_id,
			</if>
			<if test="pictureUrl != null">
				picture_url,
			</if>
			<if test="clickUrl != null">
				click_url,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="dtflag != null">
				dtflag,
			</if>
			<if test="imagetype != null">
				imagetype,
			</if>
			<if test="descr != null">
				descr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pictureId != null">
				#{pictureId,jdbcType=INTEGER},
			</if>
			<if test="viproomId != null">
				#{viproomId,jdbcType=VARCHAR},
			</if>
			<if test="pictureUrl != null">
				#{pictureUrl,jdbcType=VARCHAR},
			</if>
			<if test="clickUrl != null">
				#{clickUrl,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
			<if test="dtflag != null">
				#{dtflag,jdbcType=INTEGER},
			</if>
			<if test="imagetype != null">
				#{imagetype},
			</if>
			<if test="descr != null">
				#{descr},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppPicture">
		update app_picture
		<set>
			<if test="viproomId != null">
				viproom_id = #{viproomId,jdbcType=VARCHAR},
			</if>
			<if test="pictureUrl != null">
				picture_url = #{pictureUrl,jdbcType=VARCHAR},
			</if>
			<if test="clickUrl != null">
				click_url = #{clickUrl,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="dtflag != null">
				dtflag = #{dtflag,jdbcType=INTEGER},
			</if>
			<if test="imagetype != null">
				imagetype = #{imagetype},
			</if>
			<if test="descr != null">
				descr = #{descr},
			</if>
		</set>
		where picture_id = #{pictureId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppPicture">
		update app_picture
		set viproom_id = #{viproomId,jdbcType=VARCHAR},
		picture_url =
		#{pictureUrl,jdbcType=VARCHAR},
		click_url =
		#{clickUrl,jdbcType=VARCHAR},
		priority = #{priority,jdbcType=INTEGER},
		dtflag = #{dtflag,jdbcType=INTEGER},imagetype = #{imagetype},descr =
		#{descr}
		where picture_id = #{pictureId,jdbcType=INTEGER}
	</update>
	<!--查询条件 -->
	<select id="getPicture" resultMap="BaseResultMap"
		parameterType="com.jianfei.core.bean.AppPicture">
		select
		<include refid="Base_Column_List" />
		from app_picture
		<where>
			<if test="viproomId != null">
				AND viproom_id = #{viproomId,jdbcType=VARCHAR}
			</if>
			<if test="pictureUrl != null">
				AND picture_url = #{pictureUrl,jdbcType=VARCHAR}
			</if>
			<if test="clickUrl != null">
				AND click_url = #{clickUrl,jdbcType=VARCHAR}
			</if>
			<if test="priority != null">
				AND priority = #{priority,jdbcType=INTEGER}
			</if>
			<if test="dtflag != null">
				AND dtflag = #{dtflag,jdbcType=INTEGER}
			</if>
			<if test="imagetype != null">
				AND imagetype = #{imagetype,jdbcType=INTEGER}
			</if>

		</where>
		ORDER  BY priority ASC
	</select>
</mapper>