<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppUserFeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppUserFeedback" >
    <id column="id" property="id"/>
    
    <result column="user_id" property="userId"/>
    <result column="feedback_time" property="feedbackTime"/>
    <result column="feedback_state" property="feedbackState"/>
    <result column="customer_name" property="customerName"/>
    <result column="customer_phone" property="customerPhone"/>
    <result column="handle_time" property="handleTime"/>
    <result column="handleuser_id" property="handleuserId"/>
    <result column="dtflag" property="dtflag"/>
    <result column="feedback_content" property="feedbackContent"/>
  </resultMap>
  
  <!-- 根据id号查询反馈信息 -->
  <select id="getFeedBackInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from app_user_feedback auf where auf.id=#{feedBackId}
  </select>
  
  <!-- 根据用户id返回该用户所有的反馈信息 -->
  <select id="getFeedBackInfoListByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from app_user_feedback auf where auf.user_id=#{userId}
  </select>
  <!--分页查询  -->
  <select id="pageList" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select * from app_user_feedback auf,app_customer ac
  		<where>
  			auf.user_id = ac.customer_id
  			<!--反馈状态  -->
			<if test="feedbackState != null">
				and auf.feedback_state = #{feedbackState}
			</if>
			<!--搜索关键字  -->
			<if test="phoneOrUserName != null">
				and concat(ac.customer_name,ac.customer_phone) like
			CONCAT('%','${phoneOrUserName}','%' )
		</if>
			
			and auf.dtflag=0
		</where>
  		order by auf.feedback_time desc
  </select>
  
  <!-- 删除反馈信息-逻辑删除 -->
  <update id="delFeedbackInfoById" parameterType="java.lang.String">
  	update app_user_feedback set dtflag =1 where id = #{id}
  </update>
  
  <!--更新反馈状态  -->
  <update id="updateFeedbackInfoById" parameterType="java.lang.String">
  	update app_user_feedback set feedback_state=1 where id=#{id}
  </update>

    <insert id="insertSelective" parameterType="com.jianfei.core.bean.AppUserFeedback" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jun 02 21:05:33 CST 2016.
        -->
        insert into app_user_feedback
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="feedbackTime != null" >
                feedback_time,
            </if>
            <if test="feedbackState != null" >
                feedback_state,
            </if>
            <if test="handleTime != null" >
                handle_time,
            </if>
            <if test="handleuserId != null" >
                handleuser_id,
            </if>
            <if test="dtflag != null" >
                dtflag,
            </if>
            <if test="feedbackContent != null" >
                feedback_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="feedbackTime != null" >
                #{feedbackTime,jdbcType=TIMESTAMP},
            </if>
            <if test="feedbackState != null" >
                #{feedbackState,jdbcType=INTEGER},
            </if>
            <if test="handleTime != null" >
                #{handleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="handleuserId != null" >
                #{handleuserId,jdbcType=VARCHAR},
            </if>
            <if test="dtflag != null" >
                #{dtflag,jdbcType=INTEGER},
            </if>
            <if test="feedbackContent != null" >
                #{feedbackContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>