<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppVipcardMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppVipcard" >
    <id column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="init_money" property="initMoney" jdbcType="REAL" />
    <result column="remain_money" property="remainMoney" jdbcType="REAL" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
    <result column="card_state" property="cardState" jdbcType="INTEGER" />
    <result column="valide_time" property="valideTime" jdbcType="INTEGER" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="import_time" property="importTime"/>
    <result column="nfc_id" property="nfcId" jdbcType="VARCHAR" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="dtflag" property="dtflag" jdbcType="INTEGER" />
    <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <!--分页查询  -->
  <select id="pageList" resultMap="BaseResultMap" parameterType="java.util.Map">
  	<!-- select * from app_vipcard where dtflag = 0 -->
  	
  	<![CDATA[
			select * from app_vipcard
		]]>
		<where>
			<if test="cardState!=null">
				card_state =#{cardState}
			</if>
			<if test="cardNo!=null">
				and card_no like CONCAT('%','${cardNo}','%' )
			</if>
			<!-- 检查vip卡是否过期查询 -->
			<if test="checkFlag != null">
				and expiry_time IS NOT NULL
			</if>
			and dtflag=0 order by import_time desc
		</where>
		
  </select>
  
  <!--根据卡号逻辑删除vip卡信息  -->
  <update id="delVipCard" parameterType="java.lang.String">
  	update app_vipcard set dtflag =1 where card_no =#{cardNo}
  </update>
  
  <!--将excel表格中的数据导入到数据中 -->
  <insert id="importExcelToDB" parameterType="com.jianfei.core.bean.AppVipcard" >
    insert into app_vipcard (card_no, nfc_id, import_time,dtflag,card_state,init_money,card_type,valide_time)
   		 values (#{cardNo},#{nfcId},#{importTime},#{dtflag},#{cardState},#{initMoney},#{cardType},#{valideTime})
  </insert>
  
  <!-- 将数据导入到excel表格中 -->
  <select id="selAllVipCard" resultMap="BaseResultMap">
      select * from app_vipcard where dtflag=0 order by import_time desc
  </select>

  
  <sql id="Base_Column_List" >
    card_no, customer_id, init_money, remain_money, card_type, card_state, valide_time, 
    active_time, nfc_id, dtflag, card_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from app_vipcard
    where card_no = #{cardNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_vipcard
    where card_no = #{cardNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianfei.core.bean.AppVipcard" >
    insert into app_vipcard (card_no, customer_id, init_money, 
      remain_money, card_type, card_state, 
      valide_time, active_time, nfc_id, 
      dtflag, card_name)
    values (#{cardNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{initMoney,jdbcType=REAL}, 
      #{remainMoney,jdbcType=REAL}, #{cardType,jdbcType=INTEGER}, #{cardState,jdbcType=INTEGER}, 
      #{valideTime,jdbcType=INTEGER}, #{activeTime,jdbcType=TIMESTAMP}, #{nfcId,jdbcType=VARCHAR}, 
      #{dtflag,jdbcType=INTEGER},#{cardName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.AppVipcard" >
    insert into app_vipcard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="initMoney != null" >
        init_money,
      </if>
      <if test="remainMoney != null" >
        remain_money,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardState != null" >
        card_state,
      </if>
      <if test="valideTime != null" >
        valide_time,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
      <if test="nfcId != null" >
        nfc_id,
      </if>
      <if test="dtflag != null" >
        dtflag,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="initMoney != null" >
        #{initMoney,jdbcType=REAL},
      </if>
      <if test="remainMoney != null" >
        #{remainMoney,jdbcType=REAL},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardState != null" >
        #{cardState,jdbcType=INTEGER},
      </if>
      <if test="valideTime != null" >
        #{valideTime,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nfcId != null" >
        #{nfcId,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="activeAppCard" parameterType="java.util.Map" >
  		update app_vipcard set 
  			<if test="expiryTime!=null">
  				expiry_time = #{expiryTime} ,
  			</if>
  			<if test="activeTime!=null and activeTime!=''">
  				active_time = #{activeTime} ,
  			</if>
  			<if test="saleTime!=null and saleTime!=''">
  				sale_time=#{saleTime},
  			</if>
  			<if test="card_state!=null and card_state!=''">
  				card_state=#{card_state},
  			</if>
  			card_no=#{cardNo}
  		  where card_no = #{cardNo}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppVipcard" >
    update app_vipcard
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="initMoney != null" >
        init_money = #{initMoney,jdbcType=REAL},
      </if>
      <if test="remainMoney != null" >
        remain_money = #{remainMoney,jdbcType=REAL},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
      <if test="cardState != null" >
        card_state = #{cardState,jdbcType=INTEGER},
      </if>
      <if test="valideTime != null" >
        valide_time = #{valideTime,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null" >
        active_time = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nfcId != null" >
        nfc_id = #{nfcId,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        dtflag = #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        sale_time= #{saleTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where card_no = #{cardNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppVipcard" >
    update app_vipcard
    set customer_id = #{customerId,jdbcType=VARCHAR},
      init_money = #{initMoney,jdbcType=REAL},
      remain_money = #{remainMoney,jdbcType=REAL},
      card_type = #{cardType,jdbcType=INTEGER},
      card_state = #{cardState,jdbcType=INTEGER},
      valide_time = #{valideTime,jdbcType=INTEGER},
      active_time = #{activeTime,jdbcType=TIMESTAMP},
      nfc_id = #{nfcId,jdbcType=VARCHAR},
      dtflag = #{dtflag,jdbcType=INTEGER}
    where card_no = #{cardNo,jdbcType=VARCHAR}
  </update>
</mapper>