<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.core.mapper.AriPortMapper">

	<resultMap id="airportRs" type="AriPort">
		<id property="id" column="airport_id" />
		<result property="name" column="airport_name" />
		<result property="state" column="state" />
		<result column="agent_num" property="agentNum" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="country" property="country" />
		<result column="address" property="address" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="header_name" property="headerName" />
		<result column="header_phone" property="headerPhone" />
		<result column="dtflag" property="dtflag" />
		<collection property="appOrders" ofType="AppOrders">
			<id property="id" column="appOrders.id" />
			<id property="orderId" column="appOrders.orderId" />
			<id property="customerId" column="appOrders.customer_id" />
		</collection>
	</resultMap>



	<select id="get" resultMap="airportRs" parameterType="java.util.Map">
		<![CDATA[
			SELECT 
			  t1.airport_id,
			  t1.airport_name,
			  t1.state,
			  t1.agent_num,
			  t1.province,
			  t1.city,
			  t1.country,
			  t1.address,
			  t1.longitude,
			  t1.latitude,
			  t1.dtflag,
			  t1.header_name,
			  t1.header_phone,
			  t2.id as 'appOrders.id',
			  t2.order_id as 'appOrders.orderId',
			  t2.customer_id as 'appOrders.customerId'
			FROM
			  sys_airport t1 
			  LEFT JOIN app_orders t2 ON t1.airport_id=t2.airport_id 
		]]>
		<where>
			<if test="id!=null">
				and t1.airport_id =#{id}
			</if>
			<if test="notLikeName!=null">
				and airport_name=#{notLikeName}
			</if>
			<if test="name!=null">
				and airport_name like CONCAT('%', #{name}, '%')
			</if>
			<if test="province!=null">
				and province =#{province}
			</if>
			<if test="city!=null">
				and city =#{city}
			</if>
			<if test="country!=null">
				and country =#{country}
			</if>
			<if test="address!=null">
				and address =#{address}
			</if>
			<if test="headerName!=null">
				and header_name =#{headerName}
			</if>
			<if test="address!=null">
				and header_phone =#{headerPhone}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="AriPort">
		<![CDATA[
			INSERT INTO sys_airport (
			  airport_id,
			  airport_name,
			  state,
			  agent_num,
			  province,
			  city,
			  country,
			  address,
			  longitude,
			  latitude,
			  header_name,
			  header_phone
			) 
			VALUES
			  (
			    #{id},
			    #{name},
			   	#{state},
			    #{agentNum},
			    #{province},
			    #{city},
			    #{country},
			    #{address},
			    #{longitude},
			    #{latitude},
			    #{headerName},
			    #{headerPhone}
			  ) 
		]]>
	</insert>

	<update id="update" parameterType="AriPort">
		<![CDATA[
			UPDATE 
			  sys_airport 
			SET `airport_id` = #{id},
			dtflag =#{dtflag},state = #{state}
		]]>
		<if test="name!=null">
			,airport_name = #{name}
		</if>
		<if test="agentNum!=0 and agentNum!=null">
			,agent_num = #{agentNum}
		</if>
		<if test="province!=null">
			,province = 'province'
		</if>
		<if test="city!=null">
			,city = #{city}
		</if>
		<if test="country!=null">
			,country = #{country}
		</if>
		<if test="address!=null">
			,address = #{address}
		</if>
		<if test="longitude!=0 and longitude!=null">
			,longitude=#{longitude}
		</if>
		<if test="latitude!=0 and latitude!=null">
			,latitude = #{latitude}
		</if>
		<if test="headerName!=null">
			, header_name =#{headerName}
		</if>
		<if test="address!=null">
			, header_phone =#{headerPhone}
		</if>
		WHERE airport_id = #{id}
	</update>
	
	
	
	<update id="deleteAriport" parameterType="Long">
	<![CDATA[	
		delete from  
		  sys_user_airport 
		WHERE sys_id = #{userId}
		]]>
	</update>
	<insert id="batchInsertUserAriport" parameterType="ArrayList">
		   INSERT INTO sys_user_airport (
			  airport_id,
			  sys_id,
			  dtflag,
			  user_type
			) 
			VALUES 
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.aid}, #{item.uid},#{item.dtflag},#{item.userType})
		</foreach>
	</insert>
	
	<select id="selectAriportByUserId" resultMap="airportRs" parameterType="Long">
		<![CDATA[	SELECT a.* FROM `sys_airport` a INNER JOIN `sys_user_airport` au ON a.`airport_id`=au.`airport_id` WHERE au.`sys_id`=#{id} 	]]>
	</select>

	<resultMap type="java.lang.String" id="province">
		<result property="province" column="province" />
	</resultMap>

	<select id="getAriPortProvince" resultMap="province" >
		<![CDATA[	SELECT  DISTINCT (a.province) FROM sys_airport a 	]]>
	</select>

</mapper>