<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.SysViproomMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.SysViproom" >
    <id column="viproom_id" property="viproomId" jdbcType="VARCHAR" />
    <result column="airport_id" property="airportId" jdbcType="VARCHAR" />
    <result column="viproom_name" property="viproomName" jdbcType="VARCHAR" />
    <result column="singleconsume_money" property="singleconsumeMoney" jdbcType="REAL" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="dtflag" property="dtflag" jdbcType="INTEGER" />
    <result column="airport_name" property="airportName"/>
    <result column="header_phone" property="headerPhone"/>
    <result column="header_name" property="headerName"/>
    <result column="active_state" property="activeState"/>
    <result column="create_time" property="createTime"/>
  </resultMap>


  <!-- 分页显示vip室信息 -->
  <select id="page" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select vr.viproom_id,vr.viproom_name,vr.active_state,ap.airport_name,ap.header_name,ap.header_phone 
  		from sys_viproom vr,sys_airport ap 
  		where vr.airport_id = ap.airport_id 
  		and vr.dtflag=0  and ap.state=0 and ap.dtflag=0 
  		<!-- 搜索条件 -->
  	    <if test="searchContent != null and searchContent != ''">
  	    	and concat(vr.viproom_name,ap.airport_name) like CONCAT('%','${searchContent}','%' )
  	    </if>
  	    <if test="viproomState != null and viproomState !=''">
  	    	and vr.active_state = #{viproomState}
  	    </if>
  	    order by vr.create_time desc
  </select>
  
  
  <!--逻辑删除vip室信息  -->
  <update id="deleteByVipRommId" parameterType="java.lang.String">
  	update sys_viproom set dtflag = 1 where viproom_id = #{viproomId}
  </update>
  
  <!--启用vip室功能 -->
   <update id="startUsingByVipRommId" parameterType="java.lang.String">
  	update sys_viproom set active_state = 0 where viproom_id = #{viproomId}
  </update>
  
  <!--禁用vip室功能 -->
   <update id="forbideenUsingByVipRommId" parameterType="java.lang.String">
  	update sys_viproom set active_state = 1 where viproom_id = #{viproomId}
  </update>
  
  
  <resultMap id="ResultMapWithPic" type="com.jianfei.core.bean.SysViproom" extends="BaseResultMap" >
    <collection property="pictures" column="id" javaType="com.jianfei.core.bean.AppPicture">
    <id column="picture_id" property="pictureId" jdbcType="INTEGER" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="click_url" property="clickUrl" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    viproom_id, airport_id, viproom_name, singleconsume_money, room_num, open_time, end_time, 
    longitude, province, city, country, address, remark1, dtflag
  </sql>
  <sql id="Blob_Column_List" >
    Latitude
  </sql>

  <select id="getVipRoomList" resultMap="ResultMapWithPic" parameterType="com.jianfei.core.bean.SysAirport">
    select vr.viproom_id,vr.viproom_name,ap.airport_name,ap.header_name,ap.header_phone,vr.singleconsume_money,
    pe.click_url,pe.picture_id,pe.picture_url,pe.priority
    from sys_viproom vr LEFT JOIN  sys_airport ap
    ON vr.airport_id = ap.airport_id LEFT JOIN app_picture  pe ON vr.viproom_id=pe.viproom_id and pe.dtflag=0
    where ap.dtflag=0 and vr.active_state=0 and vr.dtflag=0 and ap.state=0 
    <if test="province!=null">
      and ap.province =#{province}
    </if>
    <if test="airportId!=null">
      and vr.airport_id =#{airportId}
    </if>

    <if test="airportName != null">
      and ap.airport_name like CONCAT('%','${airportName}','%' )
    </if>
    order by ap.province,ap.airport_id,vr.viproom_id
  </select>
	
  <!-- 根据vip室id号返回vip室信息 -->
  <select id="selectByPrimaryKey" resultMap="ResultMapWithPic" parameterType="java.lang.String" >
    select 
    vr.viproom_id,vr.airport_id, vr.viproom_name,vr.singleconsume_money, vr.room_num, vr.open_time, vr.end_time,
    vr.longitude, vr.province, vr.city, vr.country, vr.address, vr.remark1, pe.click_url,pe.picture_id,pe.picture_url,pe.priority
    from sys_viproom vr LEFT JOIN app_picture  pe ON vr.viproom_id=pe.viproom_id and pe.dtflag=0
    where  vr.viproom_id = #{viproomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_viproom
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </delete>
  
  <!--添加vip室信息  -->
  <insert id="insert" parameterType="com.jianfei.core.bean.SysViproom" >
    insert into sys_viproom (viproom_id, airport_id, viproom_name, 
      singleconsume_money, room_num, open_time, 
      end_time, longitude, province, 
      city, country, address, 
      remark1, dtflag, Latitude,create_time
      )
    values (#{viproomId,jdbcType=VARCHAR}, #{airportId,jdbcType=VARCHAR}, #{viproomName,jdbcType=VARCHAR}, 
      #{singleconsumeMoney,jdbcType=REAL}, #{roomNum,jdbcType=INTEGER}, #{openTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{longitude,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{dtflag,jdbcType=INTEGER}, #{latitude,jdbcType=VARBINARY},#{createTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.SysViproom" >
    insert into sys_viproom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="viproomId != null" >
        viproom_id,
      </if>
      <if test="airportId != null" >
        airport_id,
      </if>
      <if test="viproomName != null" >
        viproom_name,
      </if>
      <if test="singleconsumeMoney != null" >
        singleconsume_money,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="dtflag != null" >
        dtflag,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="viproomId != null" >
        #{viproomId,jdbcType=VARCHAR},
      </if>
      <if test="airportId != null" >
        #{airportId,jdbcType=VARCHAR},
      </if>
      <if test="viproomName != null" >
        #{viproomName,jdbcType=VARCHAR},
      </if>
      <if test="singleconsumeMoney != null" >
        #{singleconsumeMoney,jdbcType=REAL},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  
   <!-- 更新vip室信息  -->
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    <set >
      <if test="airportId != null" >
        airport_id = #{airportId,jdbcType=VARCHAR},
      </if>
      <if test="viproomName != null" >
        viproom_name = #{viproomName,jdbcType=VARCHAR},
      </if>
      <if test="singleconsumeMoney != null" >
        singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        dtflag = #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=VARBINARY},
      </if>
      <if test="createTime != null">
      	create_time = #{createTime}
      </if>
    </set>
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    set airport_id = #{airportId,jdbcType=VARCHAR},
      viproom_name = #{viproomName,jdbcType=VARCHAR},
      singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      room_num = #{roomNum,jdbcType=INTEGER},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      dtflag = #{dtflag,jdbcType=INTEGER},
      Latitude = #{latitude,jdbcType=VARBINARY}
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.SysViproom" >
    update sys_viproom
    set airport_id = #{airportId,jdbcType=VARCHAR},
      viproom_name = #{viproomName,jdbcType=VARCHAR},
      singleconsume_money = #{singleconsumeMoney,jdbcType=REAL},
      room_num = #{roomNum,jdbcType=INTEGER},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      longitude = #{longitude,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      dtflag = #{dtflag,jdbcType=INTEGER}
    where viproom_id = #{viproomId,jdbcType=VARCHAR}
  </update>
</mapper>