<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppCardBackMapper" >
  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppCardBack" >
    <id column="back_id" property="backId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime"/>
    <result column="back_type" property="backType"/>
    <result column="customer_name" property="customerName"/>
    <result column="customer_card" property="customerCard"/>
    <result column="dtflag" property="dtflag"/>
    <result column="money" property="money"/>
    <result column="finish_time" property="finishTime"/>
    <result column="order_id" property="orderId"/>
    <result column="creater_id" property="createrId"/>
    <result column="check_id" property="checkId"/>
    <result column="agreement_url" property="agreementUrl"/>
    <result column="card_no" property="cardNo"/>
    <result column="bank_name" property="bankName"/>
    <result column="service_money" property="serviceMoney" jdbcType="REAL" />
    <result column="safe_money" property="safeMoney" jdbcType="REAL" />
  </resultMap>
  
  <!-- 插入退卡流水号 -->
  <insert id="insertBackCard" parameterType="com.jianfei.core.bean.AppCardBack" >
  	insert into app_card_back(back_id,create_time,back_type,customer_name,customer_card,money,finish_time,order_id,
  		creater_id,check_id,agreement_url,card_no,bank_name) 
  			values(#{backId},#{createTime},#{backType},#{customerName},#{customerCard},#{money}
  		,#{finishTime},#{orderId},#{createrId},#{checkId},#{agreementUrl},#{cardNo},#{bankName})
  </insert>
  
  <!--通过订单编号查询用户退款账户 和退款方式-->
  <select id="seleConsumeCardId" resultType="com.jianfei.core.bean.AppCardBack" parameterType="java.lang.String">
  	select * from app_card_back where order_id=#{orderId}
  </select>
  
  <!-- 更新流水号（最终审核时间和审核人）-->
  <update id="updateBackCard" parameterType="java.util.Map">
  	update app_card_back set finish_time = #{finishTime},check_id=#{checkId} 
  		where order_id = #{orderId}
  </update>




  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    back_id, create_time, back_type, customer_name, customer_card, dtflag, money, finish_time,
    order_id, creater_id, check_id, agreement_url, card_no, bank_name, service_money,
    safe_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    select
    <include refid="Base_Column_List" />
    from app_card_back
    where back_id = #{backId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_card_back
    where back_id = #{backId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianfei.core.bean.AppCardBack" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    insert into app_card_back (back_id, create_time, back_type,
    customer_name, customer_card, dtflag,
    money, finish_time, order_id,
    creater_id, check_id, agreement_url,
    card_no, bank_name, service_money,
    safe_money)
    values (#{backId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{backType,jdbcType=INTEGER},
    #{customerName,jdbcType=VARCHAR}, #{customerCard,jdbcType=VARCHAR}, #{dtflag,jdbcType=INTEGER},
    #{money,jdbcType=REAL}, #{finishTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=VARCHAR},
    #{createrId,jdbcType=VARCHAR}, #{checkId,jdbcType=VARCHAR}, #{agreementUrl,jdbcType=VARCHAR},
    #{cardNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{serviceMoney,jdbcType=REAL},
    #{safeMoney,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.AppCardBack" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    insert into app_card_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="backId != null" >
        back_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="backType != null" >
        back_type,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerCard != null" >
        customer_card,
      </if>
      <if test="dtflag != null" >
        dtflag,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="checkId != null" >
        check_id,
      </if>
      <if test="agreementUrl != null" >
        agreement_url,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="serviceMoney != null" >
        service_money,
      </if>
      <if test="safeMoney != null" >
        safe_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="backId != null" >
        #{backId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backType != null" >
        #{backType,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCard != null" >
        #{customerCard,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="agreementUrl != null" >
        #{agreementUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="serviceMoney != null" >
        #{serviceMoney,jdbcType=REAL},
      </if>
      <if test="safeMoney != null" >
        #{safeMoney,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppCardBack" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    update app_card_back
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backType != null" >
        back_type = #{backType,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCard != null" >
        customer_card = #{customerCard,jdbcType=VARCHAR},
      </if>
      <if test="dtflag != null" >
        dtflag = #{dtflag,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        check_id = #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="agreementUrl != null" >
        agreement_url = #{agreementUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="serviceMoney != null" >
        service_money = #{serviceMoney,jdbcType=REAL},
      </if>
      <if test="safeMoney != null" >
        safe_money = #{safeMoney,jdbcType=REAL},
      </if>
    </set>
    where back_id = #{backId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppCardBack" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jul 08 09:47:40 CST 2016.
    -->
    update app_card_back
    set create_time = #{createTime,jdbcType=TIMESTAMP},
    back_type = #{backType,jdbcType=INTEGER},
    customer_name = #{customerName,jdbcType=VARCHAR},
    customer_card = #{customerCard,jdbcType=VARCHAR},
    dtflag = #{dtflag,jdbcType=INTEGER},
    money = #{money,jdbcType=REAL},
    finish_time = #{finishTime,jdbcType=TIMESTAMP},
    order_id = #{orderId,jdbcType=VARCHAR},
    creater_id = #{createrId,jdbcType=VARCHAR},
    check_id = #{checkId,jdbcType=VARCHAR},
    agreement_url = #{agreementUrl,jdbcType=VARCHAR},
    card_no = #{cardNo,jdbcType=VARCHAR},
    bank_name = #{bankName,jdbcType=VARCHAR},
    service_money = #{serviceMoney,jdbcType=REAL},
    safe_money = #{safeMoney,jdbcType=REAL}
    where back_id = #{backId,jdbcType=VARCHAR}
  </update>
</mapper>