<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppOrdersMapper">

	<resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppOrders">
		<id column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="order_state" property="orderState" jdbcType="INTEGER" />
		<result column="pay_type" property="payType" jdbcType="INTEGER" />
		<result column="serial_id" property="serialId" jdbcType="VARCHAR" />
		<result column="pay_money" property="payMoney" jdbcType="REAL" />
		<result column="invoice_flag" property="invoiceFlag" jdbcType="INTEGER" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="dtflag" property="dtflag" jdbcType="INTEGER" />
		<result column="sale_no" property="saleNo" jdbcType="VARCHAR" />
		<result column="airport_id" property="airportId" jdbcType="VARCHAR" />
		<result column="apply_type" property="applyType" jdbcType="INTEGER" />
		<result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
		<result column="pay_user_id" property="payUserId" jdbcType="VARCHAR" />
	</resultMap>

	<!--订单列表展示返回类型 -->
	<resultMap id="OrderShowInfoDto" type="com.jianfei.core.dto.OrderShowInfoDto">
		<id column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="airport_name" property="airportName" jdbcType="VARCHAR" />
		<result column="name" property="agentName" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
		<result column="customer_phone" property="customerPhone"
			jdbcType="VARCHAR" />
		<result column="order_state" property="orderState" jdbcType="INTEGER" />
		<result column="invoice_flag" property="invoiceFlag" jdbcType="INTEGER" />
		<result column="invoice_id" property="invoiceId"/>
		<result column="invoice_no" property="invoiceNo"/>
		<result column="apply_type" property="applyType" jdbcType="INTEGER" />
		<result column="back_type" property="backType" jdbcType="INTEGER" />
		<result column="pay_type" property="payType"/>
		<result column="money" property="remainMoney" />
		<result column="card_no" property="vipCardNo" />
		<result column="card_id" property="vipCardNo"/>
		<result column="card_state" property="cardState"/>
		<result column="invoice_kind" property="invoiceKind"/>
		<result column="company_name" property="companyName"/>
		<result column="company_address" property="companyAddress"/>
		<result column="company_phone" property="companyPhone"/>
		<result column="business_license_url" property="businessLicenseUrl"/>
		<result column="company_tax_no" property="companyTaxNo"/>
		<result column="invoice_content" property="invoiceContent"/>
		<result column="province" property="provinceName"/>
		<result column="city" property="cityName"/>
		<result column="country" property="countryName"/>
		<result column="address" property="address"/>
		<result column="invoice_title" property="invoiceTitle"/>
		<result column="postcode" property="postCode"/>
	</resultMap>

	<!--订单详细信息展示返回类型 -->
	<resultMap id="orderDetailInfo" type="com.jianfei.core.dto.OrderDetailInfo">
		<!--1、订单表 -->
		<id column="order_id" property="orderId" />
		<result column="order_time" property="orderTime" />
		<result column="order_state" property="orderState" />
		<result column="pay_type" property="payMethod" />
		<result column="pay_time" property="payTime" />
		<result column="activat_time" property="activatTime" />
		<result column="invoice_flag" property="invoiceFlag" />
		<result column="pay_money" property="payMoney" />
		<!--2、 机场表 -->
		<result column="airport_name" property="airportName" />
		<!--3、业务人员表 -->
		<result column="name" property="agentName" />
		<result column="phone" property="agentPhone" />
		<!--4、用户表 -->
		<result column="customer_name" property="customerName" />
		<result column="customer_identi" property="customerIdent" />
		<result column="customer_phone" property="customerPhone" />
		<result column="sex" property="sex" />
		<result column="province_name" property="customerProvinceName" />
		<result column="city_name" property="customerCityName" />
		<result column="address" property="address" />
		<result column="email" property="email" />
		<result column="card_type" property="indentType"/>
		<result column="birth_day" property="birthDay"/>
		<!-- 5、卡表 -->
		<result column="card_id" property="vipCardNo" />
		<result column="card_type" property="cardType" />
		<result column="init_money" property="initMoney" />

	</resultMap>
	
	<!--查询需要开发票的订单信息 -->
	<select id="invoicePageList" parameterType="java.util.Map"
		resultMap="OrderShowInfoDto">
		select ord.order_id,ord.invoice_flag,ord.order_state,
		inv.invoice_no,inv.invoice_id,inv.invoice_kind,inv.company_name,inv.company_address,
		inv.company_phone,inv.business_license_url,inv.company_tax_no,inv.invoice_content,
		inv.province,inv.city,inv.country,inv.address,inv.invoice_title,inv.postcode,
		cus.customer_name,cus.customer_phone
		from app_orders ord inner join app_invoice inv on ord.order_id =
		inv.order_id
		inner join app_customer cus on ord.customer_id = cus.customer_id
		<if test="invoiceFlag != null">
			and ord.invoice_flag = #{invoiceFlag}
		</if>
		<if test="phoneOrUserName != null">
			and concat(cus.customer_name,cus.customer_phone) like
			CONCAT('%','${phoneOrUserName}','%' )
		</if>
		order by ord.order_time desc
	</select>

	<!--根据订单号查询订单详细信息 -->
	<select id="selOrderDetailInfo" resultMap="orderDetailInfo"
		parameterType="java.lang.String">
		select
		ord.order_id,ord.order_time,ord.order_state,ord.pay_type,ord.pay_time,ord.activat_time,ord.invoice_flag,ord.pay_money,
		sa.airport_name,
		agent.name,agent.phone,
		cus.customer_name,cus.customer_identi,cus.customer_phone,cus.sex,cus.province_name,cus.city_name,cus.address,cus.email,
		cus.card_type,cus.birth_day,
		aoc.card_id ,aoc.card_type,aoc.init_money
		from app_orders ord,sys_airport sa,sys_users agent ,app_customer cus
		,app_order_card aoc
		where ord.airport_id = sa.airport_id and ord.sale_no = agent.code
		and ord.customer_id = cus.customer_id and ord.order_id = aoc.order_id
		and ord.order_id=#{orderId}
	</select>

	<!--订单列表信息展示 -->
	<select id="get" resultMap="OrderShowInfoDto" parameterType="java.util.Map">
		select ord.order_id,ord.order_time,ord.order_state,ord.invoice_flag,ord.apply_type,ord.pay_type,
		ap.airport_name,agent.name,aoc.card_id,
		customer.customer_name,customer.customer_phone
		from app_orders ord,sys_airport ap,sys_users agent,app_customer customer,app_order_card aoc
		where ord.sale_no=agent.code and ord.customer_id = customer.customer_id
		and ord.airport_id = ap.airport_id and ord.order_id=aoc.order_id

		<if test="startTime != null">
			and DATE_FORMAT(ord.order_time,'%Y-%m-%d') <![CDATA[  >=]]>
			#{startTime}
		</if>

		<!-- 结束时间 -->
		<if test="endTime != null">
			and DATE_FORMAT(ord.order_time,'%Y-%m-%d')  <![CDATA[  <= ]]>
			#{endTime}
		</if>

		<!-- 机场编号 -->
		<if test="airportId != null">
			and ord.airport_id = #{airportId}
		</if>

		<!-- 订单状态 -->
		<if test="orderState != null">
			and ord.order_state = #{orderState}
		</if>
		<!-- 发票状态 -->
		<if test="invoiceState != null">
			and ord.invoice_flag = #{invoiceState}
		</if>
		<!-- 用户名或者手机号码 -->
		<if test="phoneOrUserName != null">
			<!-- and INSTR(customer.customer_name,#{phoneOrUserName})>0 -->
			and concat(customer.customer_name,customer.customer_phone,agent.name,ord.order_id,aoc.card_id) like
			CONCAT('%','${phoneOrUserName}','%' )
		</if>
		<!-- 机场列表 -->
		<if test="aiportIdList !=null">
			and ord.airport_id in
			<foreach item="item" index="index" collection="aiportIdList"
				open="(" separator="," close=")">
				#{item}
			</foreach>

		</if>
       order by ord.order_time desc

	</select>

	<!--退款订单分页查询 -->
	<select id="page" resultMap="OrderShowInfoDto" parameterType="java.util.Map">
		select
		ord.order_id,ord.order_time,ord.order_state,ord.invoice_flag,ord.apply_type,
		ap.airport_name,
		agent.name,
		avp.card_no,avp.card_state,
		customer.customer_name,customer.customer_phone,
		acb.back_type,acb.money
		from app_orders ord,sys_airport ap,sys_users agent,app_customer
		customer,app_card_back acb,app_order_card aoc,app_vipcard avp
		where ord.sale_no=agent.code and ord.customer_id = customer.customer_id and
		ord.airport_id = ap.airport_id and ord.order_id = acb.order_id and ord.order_id=aoc.order_id and avp.card_no=aoc.card_id
		<if test="backType != null">
			and acb.back_type = #{backType}
		</if>
		<if test="applyType !=null">
			and ord.apply_type = #{applyType}
		</if>
		<if test="orderState != null">
			and ord.order_state = #{orderState}
		</if>
		<!-- 用户名或者手机号码 -->
		<if test="phoneOrUserName != null">
			<!-- and INSTR(customer.customer_name,#{phoneOrUserName})>0 -->
			and concat(customer.customer_name,customer.customer_phone,ord.order_id) like
			CONCAT('%','${phoneOrUserName}','%' )
		</if>
		<!-- 机场列表 -->
		<if test="aiportIdList !=null">
			and ord.airport_id in
			<foreach item="item" index="index" collection="aiportIdList"
				open="(" separator="," close=")">
				#{item}
			</foreach>

		</if>
		 order by ord.order_time desc
	</select>

	<!--更新订单状态 -->
	<update id="updateOrderState" parameterType="java.util.Map">
		update app_orders set order_state=#{orderState}
		<if test="applyType !=null">
		,apply_type=#{applyType} 
		</if>
		where order_id = #{orderId}
	</update>

	<!--支付回调通知 -->
	<update id="payNotify" parameterType="java.util.Map">
		update app_orders set
		order_state=#{orderState},pay_user_id=#{payUserId},pay_time=#{payTime},
		serial_id=#{tradeNo},pay_type=#{payType} where order_id = #{orderId}
	</update>

	<sql id="Base_Column_List">
		order_id, id, customer_id, order_time, order_state, pay_type, serial_id,
		pay_money,
		invoice_flag, remark1, remark2, dtflag, sale_no,airport_id,apply_type,pay_time,pay_user_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from app_orders
		where order_id = #{orderId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from app_orders
		where order_id = #{orderId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.jianfei.core.bean.AppOrders">
		insert into app_orders (order_id, id, customer_id,
		order_time, order_state, pay_type,
		serial_id, pay_money, invoice_flag,
		remark1, remark2, dtflag, sale_no, airport_id
		)
		values (#{orderId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR},
		#{customerId,jdbcType=VARCHAR},
		#{orderTime,jdbcType=TIMESTAMP}, #{orderState,jdbcType=INTEGER}, #{payType,jdbcType=INTEGER},
		#{serialId,jdbcType=VARCHAR}, #{payMoney,jdbcType=REAL},
		#{invoiceFlag,jdbcType=INTEGER},
		#{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{dtflag,jdbcType=INTEGER},
		#{saleNo,jdbcType=VARCHAR}, #{airportId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jianfei.core.bean.AppOrders">
		insert into app_orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				order_id,
			</if>
			<if test="id != null">
				id,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="orderTime != null">
				order_time,
			</if>
			<if test="orderState != null">
				order_state,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="serialId != null">
				serial_id,
			</if>
			<if test="payMoney != null">
				pay_money,
			</if>
			<if test="invoiceFlag != null">
				invoice_flag,
			</if>
			<if test="remark1 != null">
				remark1,
			</if>
			<if test="remark2 != null">
				remark2,
			</if>
			<if test="dtflag != null">
				dtflag,
			</if>
			<if test="saleNo != null">
				sale_no,
			</if>
			<if test="airportId != null">
				airport_id,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=VARCHAR},
			</if>
			<if test="orderTime != null">
				#{orderTime,jdbcType=TIMESTAMP},
			</if>
			<if test="orderState != null">
				#{orderState,jdbcType=INTEGER},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=INTEGER},
			</if>
			<if test="serialId != null">
				#{serialId,jdbcType=VARCHAR},
			</if>
			<if test="payMoney != null">
				#{payMoney,jdbcType=REAL},
			</if>
			<if test="invoiceFlag != null">
				#{invoiceFlag,jdbcType=INTEGER},
			</if>
			<if test="remark1 != null">
				#{remark1,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				#{remark2,jdbcType=VARCHAR},
			</if>
			<if test="dtflag != null">
				#{dtflag,jdbcType=INTEGER},
			</if>
			<if test="saleNo != null">
				#{saleNo,jdbcType=VARCHAR},
			</if>
			<if test="airportId != null">
				#{airportId,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppOrders">
		update app_orders
		<set>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=VARCHAR},
			</if>
			<if test="orderTime != null">
				order_time = #{orderTime,jdbcType=TIMESTAMP},
			</if>
			<if test="orderState != null">
				order_state = #{orderState,jdbcType=INTEGER},
			</if>
			<if test="payType != null">
				pay_type = #{payType,jdbcType=INTEGER},
			</if>
			<if test="serialId != null">
				serial_id = #{serialId,jdbcType=VARCHAR},
			</if>
			<if test="payMoney != null">
				pay_money = #{payMoney,jdbcType=REAL},
			</if>
			<if test="invoiceFlag != null">
				invoice_flag = #{invoiceFlag,jdbcType=INTEGER},
			</if>
			<if test="remark1 != null">
				remark1 = #{remark1,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				remark2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="dtflag != null">
				dtflag = #{dtflag,jdbcType=INTEGER},
			</if>
			<if test="saleNo != null">
				sale_no= #{saleNo,jdbcType=VARCHAR},
			</if>
			<if test="airportId != null">
				airport_id= #{airportId,jdbcType=VARCHAR},
			</if>
			<if test="payTime != null">
				pay_time= #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payUserId != null">
				pay_user_id= #{payUserId,jdbcType=VARCHAR},
			</if>

		</set>
		where order_id = #{orderId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppOrders">
		update app_orders
		set id = #{id,jdbcType=VARCHAR},
		customer_id = #{customerId,jdbcType=VARCHAR},
		order_time = #{orderTime,jdbcType=TIMESTAMP},
		order_state = #{orderState,jdbcType=INTEGER},
		pay_type = #{payType,jdbcType=INTEGER},
		serial_id = #{serialId,jdbcType=VARCHAR},
		pay_money = #{payMoney,jdbcType=REAL},
		invoice_flag = #{invoiceFlag,jdbcType=INTEGER},
		remark1 = #{remark1,jdbcType=VARCHAR},
		remark2 = #{remark2,jdbcType=VARCHAR},
		dtflag = #{dtflag,jdbcType=INTEGER},
		sale_no= #{saleNo,jdbcType=VARCHAR},
		airport_id= #{airportId,jdbcType=VARCHAR}
		where order_id = #{orderId,jdbcType=VARCHAR}
	</update>
	<select id="selectOrder" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT * FROM app_orders ao
		<where>
			<if test="orderState!=null and orderState!=''">
				order_state=#{orderState}
			</if>
			<if test="dateTime!=null and dateTime!=''">
				and DATE_FORMAT(order_time,'%Y-%m')=#{dateTime}
			</if>
		</where>
	</select>


	<resultMap id="ResultMapWithDetail" type="com.jianfei.core.bean.AppOrders" extends="BaseResultMap" >
		<collection property="vipCards" column="id" javaType="com.jianfei.core.bean.AppVipcard">
			<id column="card_no" property="cardNo" jdbcType="VARCHAR" />
			<result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
			<result column="card_type" property="cardType" jdbcType="INTEGER" />
			<result column="card_state" property="cardState" jdbcType="INTEGER" />
			<result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
		</collection>
		<collection property="customer" column="id" javaType="com.jianfei.core.bean.AppCustomer">
			<result column="au.customer_id" property="customerId" jdbcType="VARCHAR" />
			<result column="customer_name" property="customerName"
					jdbcType="VARCHAR" />
			<result column="customer_identi" property="customerIdenti"
					jdbcType="VARCHAR" />
			<result column="customer_phone" property="phone" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="INTEGER" />
			<result column="email" property="email" jdbcType="VARCHAR" />
			<result column="address" property="address" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="use_type" property="useType" jdbcType="INTEGER" />
			<result column="remark1" property="remark1" jdbcType="VARCHAR" />
			<result column="dtflag" property="dtflag" jdbcType="INTEGER" />
			<result column="province" property="province" jdbcType="VARCHAR" />
			<result column="city" property="city" jdbcType="VARCHAR" />
			<result column="country" property="country" jdbcType="VARCHAR" />
			<result column="orderStatu" property="orderStatu" />
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="province_name" property="provinceName" jdbcType="VARCHAR" />
			<result column="city_name" property="cityName" jdbcType="VARCHAR" />
			<result column="card_type" property="cardType" jdbcType="INTEGER" />
			<result column="birth_day" property="birthDay" jdbcType="TIMESTAMP" />
		</collection>
		<collection property="invoice" column="id" javaType="com.jianfei.core.bean.AppInvoice">
			<result column="invoice_kind" jdbcType="INTEGER" property="invoiceKind" />
		</collection>
		<collection property="cardBack" column="id" javaType="com.jianfei.core.bean.AppCardBack">
			<result column="create_time" property="createTime"/>
			<result column="back_type" property="backType"/>
			<result column="customer_name" property="customerName"/>
			<result column="customer_card" property="customerCard"/>
			<result column="money" property="money"/>
			<result column="finish_time" property="finishTime"/>
			<result column="order_id" property="orderId"/>
			<result column="creater_id" property="createrId"/>
			<result column="check_id" property="checkId"/>
			<result column="agreement_url" property="agreementUrl"/>
			<result column="card_no" property="cardNo"/>
			<result column="bank_name" property="bankName"/>
			<result column="service_money" property="serviceMoney" jdbcType="REAL" />
			<result column="safe_money" property="safeMoney" jdbcType="REAL" />
			<result column="create_name" property="createName"/>
		</collection>

	</resultMap>
	<!-- 根据订单号返回订单信息 -->
	<select id="getOrderDetailByOrderId" parameterType="java.lang.String"
			resultMap="ResultMapWithDetail">
		select o.*,au.*,av.*,acb.*,ai.* from app_orders o join app_customer au on o.customer_id=au.customer_id  join app_order_card ac on  o.order_id=ac.order_id join app_vipcard av on ac.card_id=av.card_no left join app_card_back acb on o.order_id=acb.order_id left join app_invoice ai on o.order_id=ai.order_id
		 WHERE o.order_id= #{orderId}
	</select>



	<resultMap id="GraphResultMap" type="com.jianfei.core.dto.GraphDto" >
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="INTEGER" />
	</resultMap>

	<!-- 根据工号获取业务员需要处理的数据 -->
	<select id="getSaleToDoData" parameterType="java.lang.String"
			resultMap="GraphResultMap">
		select count(*) as 'value', 'TO_PAY' as 'name' from app_orders where order_state=0 and sale_no=#{uno}
union
select count(*) as 'value', 'TO_ACTIVE' as 'name' from app_orders o join app_order_card oc on o.order_id=oc.order_id join app_vipcard v on oc.card_id=v.card_no  where order_state=1 and  v.card_state in (3,4) and sale_no=#{uno}
union
select count(*) as 'value', 'TO_BACK' as 'name' from app_orders where order_state in (2,3) and sale_no=#{uno}
	</select>



	<resultMap id="OrderListResultMap" type="com.jianfei.core.dto.OrderPageDto" >
		<result column="order_id" property="orderId" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName" jdbcType="VARCHAR" />
		<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="order_state" property="orderState" jdbcType="INTEGER" />
		<result column="card_state" property="cardState" jdbcType="INTEGER" />

	</resultMap>

	<!-- 根据工号获取业务员需要处理的数据 -->
	<select id="orderListBySale" parameterType="java.lang.String"
			resultMap="OrderListResultMap">
	select o.order_id,o.order_state,o.order_time,c.customer_name,c.customer_phone,av.card_state  from app_orders o join app_customer c on o.customer_id=c.customer_id join app_order_card aoc on o.order_id=aoc.order_id join app_vipcard av on aoc.card_id=av.card_no
	   WHERE o.sale_no = (#{uno})

			<if test="orderState!=null ">
				and  o.order_state in
				<foreach item="item" index="index" collection="orderState"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="cardState!=null">
				and  av.card_state in
				<foreach item="cardItem" index="index" collection="cardState"
						 open="(" separator="," close=")">
					#{cardItem}
				</foreach>
			</if>
		<if test="key!=null and key!=''">
			and concat(c.customer_name,c.customer_phone) like
			CONCAT('%','${key}','%' )
		</if>
	</select>
</mapper>