<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianfei.core.mapper.AppOrderCardMapper" >

  <resultMap id="BaseResultMap" type="com.jianfei.core.bean.AppOrderCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="card_id" property="cardNo" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="INTEGER" />
    <result column="init_money" property="initMoney" jdbcType="REAL" />
    <result column="card_type" property="cardType" jdbcType="INTEGER" />
  </resultMap>


  <resultMap id="VipResultMap" type="com.jianfei.core.dto.VipCardUseDetailInfo" >
    <result column="card_id" property="vipCardNo"  jdbcType="VARCHAR"/>
    <result column="pay_money" property="orderMoney"  jdbcType="REAL"/>
    <result column="activat_time" property="activeTime"  jdbcType="TIMESTAMP"/>
    <result column="customer_name" property="customerName"  jdbcType="VARCHAR"/>
    <result column="customer_phone" property="customerPhone"  jdbcType="VARCHAR"/>
    <result column="customer_identi" property="customerIdNo"  jdbcType="VARCHAR"/>
    <result column="card_type" property="customerCardType"  jdbcType="INTEGER"/>
    <result column="sex" property="customerSex"  jdbcType="INTEGER"/>
    <result column="order_id" property="orderId"  jdbcType="VARCHAR"/>
    <result column="pay_user_id" property="payUserId"  jdbcType="VARCHAR"/>
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="invoice_flag" property="InvoiceSate" jdbcType="INTEGER" />
    <result column="sale_name" property="saleName"  jdbcType="VARCHAR"/>
  </resultMap>

  <!--订单列表信息展示  -->
  <select id="getAppOrderCard" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select card_id,init_money from  app_order_card where order_id=#{orderId}
  </select>

  <!-- Vip使用记录相关查询  -->
  <select id="getVipCardUseDetailInfo" resultMap="VipResultMap" parameterType="java.lang.String">
    SELECT c.card_id,o.pay_money,av.active_time as activat_time,u.customer_name,u.customer_phone,u.customer_identi,u.sex,u.card_type,o.order_id,o.pay_type,o.pay_user_id,o.invoice_flag,o.sale_name  FROM app_orders o JOIN app_order_card c
   ON o.order_id=c.order_id JOIN app_customer u ON o.customer_id=u.customer_id join app_vipcard av on c.card_id=av.card_no WHERE u.customer_phone=#{customerPhone} AND  o.order_state=1
    <if test="vipCardNo != null">
       and c.card_id = #{vipCardNo}
    </if>
  </select>
  
  <!--根据订单号获取信息-->
  <select id="selectByOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from app_order_card
    where order_id = #{orderId}
  </select>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    id, order_id, card_id, card_num, init_money, card_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    select
    <include refid="Base_Column_List" />
    from app_order_card
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    delete from app_order_card
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jianfei.core.bean.AppOrderCard">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    insert into app_order_card (id, order_id, card_id,
    card_num, init_money, card_type
    )
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR},
    #{cardNum,jdbcType=INTEGER}, #{initMoney,jdbcType=REAL}, #{cardType,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.jianfei.core.bean.AppOrderCard">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    insert into app_order_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="cardNo != null">
        card_id,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="initMoney != null">
        init_money,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=INTEGER},
      </if>
      <if test="initMoney != null">
        #{initMoney,jdbcType=REAL},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianfei.core.bean.AppOrderCard">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    update app_order_card
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_id = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        card_num = #{cardNum,jdbcType=INTEGER},
      </if>
      <if test="initMoney != null">
        init_money = #{initMoney,jdbcType=REAL},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianfei.core.bean.AppOrderCard">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Jun 02 14:29:29 CST 2016.
    -->
    update app_order_card
    set order_id = #{orderId,jdbcType=VARCHAR},
    card_id = #{cardNo,jdbcType=VARCHAR},
    card_num = #{cardNum,jdbcType=INTEGER},
    init_money = #{initMoney,jdbcType=REAL},
    card_type = #{cardType,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>